<a href="#" class="w-[350px]">
  <div class="site-branding w-[350px] flex flex-row items-center gap-2">
      {% render '@site-logo' %}
      <div class="whitespace-no-wrap">
        {% render '@site-name' %}
        {% render '@site-slogan' %}
      </div>
  </div>
</a>
