<div x-data="scrollProgressBar" class="w-full relative md:sticky top-0 z-50">
  <div class="h-4 bg-honeyyellow" :style="`width: ${percent}%`">
    <span class="absolute text-xs text-onyx" x-text="`${percent}%`"></span>
  </div>
</div>
