<div class="flex flex-row flex-wrap justify-center gap-x-2 gap-y-1 text-sm font-mono">

{% for t in tags %}
<a class="no-underline text-onyx" href="/tag/transport ">
  <span class="p-1">{{ t.text }}</span>
</a>
{% endfor %}

</div>
