<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

  <h2>Ordered Lists (ol)</h2>

  <ol>
    {{#each entries}}
    <li>{{ one }}: {{ two }}</li>
    {{/each}}
  </ol>

</div>
