<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

  <h2>Unordered Lists (ul)</h2>

  <ul>
    {{#each entries}}
    <li>{{ one }}: {{ two }}</li>
    {{/each}}
  </ul>

</div>
