<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

  <h2>Definition Lists (dl)</h2>

  <dl>
    {{#each entries}}
    <dt>{{ one }}</dt>
    <dd>{{ two }}</dd>
    {{/each}}
  </dl>

</div>
