<form>
  {% include '@fe--text' %}
  {% include '@fe--date' %}
  {% include '@fe--time' %}
  {% include '@fe--email' %}
  {% render '@fe--select' %}
  {% include '@fe--checkbox' %}
  {% include '@fe--radio' %}
  {% include '@fe--password' %}
  {% include '@fe--textarea' %}
  <div class="mt-4 mb-4">
    {% include '@button--lava' with { "text": "Formular Absenden", "class": "btn lava-gradient" } %}
  </div>
</form>
