<form>
  {% include '@fe--text' %}
  {% include '@fe--date' %}
  {% include '@fe--time' %}
  {% include '@fe--email' %}
  {% include '@fe--select' %}
  {% include '@fe--checkbox' %}
  {% include '@fe--radio' %}
  {% include '@fe--password' %}
  {% include '@fe--textarea' %}
  {% include '@button--lava' with { "buttontext": "Wuhuuu" } %}
</form>
