<div class="m-2">
  {% include '@button--default' %}
  {% include '@button--icon' %}
  {% include '@button--sm' %}
</div>

<div class="m-2">
  {% include '@button--lava' %}
  <button class="lava-gradient btn-sm">Small Button</button>
</div>

<div class="m-2">
  {% include '@button--honeyyellow' %}
  <button class="honeyyellow-gradient btn-sm">Small Button</button>
</div>

<div class="m-2">
  {% include '@button--androidgreen' %}
  <button class="androidgreen-gradient btn-sm">Small Button</button>
</div>

<div class="m-2">
  {% include '@button--onyx' %}
  <button class="onyx-gradient btn-sm">Small Button</button>
</div>
