

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>

<div>

  <div class="flex gap-4">
    <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
      <ul>
        <li>Basic HTML Elements</li>
        <li>Form Labels</li>
        <li>Inputs</li>
        <li>Buttons</li>
        <li>all that cannot broken down any further</li>
      </ul>
    </div>
    <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
      <figure>
        <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-atoms.png" alt="Atoms" width="500" />
        <figcaption>bradfrost.com pic for Atoms</figcaption>
      </figure>
    </div>
  </div>
</div>


</body>
</html>

