

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Atoms Help: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="flex gap-4">
  <ul>
    <li>Basic HTML Elements</li>
    <li>Form Labels</li>
    <li>Inputs</li>
    <li>Buttons</li>
    <li>all that cannot broken down any further</li>
  </ul>

  <figure>
    <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-atoms.png" alt="Atoms" width="500" />
    <figcaption>bradfrost.com pic for Atoms</figcaption>
  </figure>
</div>

  </div>

</body>
</html>

