

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Breakpoints: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="breakpoints w-full">

  <span class="block md:hidden bg-brand2-500 w-full">
    sm: 640px
  </span>

  <span class="hidden md:block lg:hidden bg-brand2-500 w-full">
    md: 768px
  </span>

  <span class="hidden lg:block xl:hidden bg-brand2-500 w-full">
    lg: 1024px
  </span>

  <span class="hidden xl:block 2xl:hidden bg-brand2-500 w-full">
    xl: 1280px
  </span>

  <span class="hidden 2xl:block bg-brand2-500 w-full">
    2xl: 1536px
  </span>

</div>

  </div>

</body>
</html>

