

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Card Raw Left: Default</title>
</head>
<body>

    <div class="w-fit flex flex-col md:flex-row border shadow-md m-4">
  <div class="w-full md:w-1/2 p-4 order-last">
    <div class="font-bold text-xl mb-2">
      Mountain
    </div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="w-full md:w-1/2 order-first">
    <img class="object-cover w-full h-full" src="https://source.unsplash.com/random/800x300/?mountain" alt="Mountain">
  </div>
</div>


</body>
</html>

