

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Card Raw: Default</title>
</head>
<body>

    <div class="max-w-sm border shadow-md">
  <img class="w-full" src="https://source.unsplash.com/random/400x300/?mountain" alt="Mountain">
  <div class="p-4">
    <div class="font-bold text-xl mb-2">Mountain</div>
    <p class="text-neutral-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
    <a class="btn mt-4" href="#">Click here</a>
  </div>
</div>


</body>
</html>

