

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>horizontal Cards: Left</title>
</head>
<body>

    <div class="card__horizontal--left">
  <div class="card__body">
    <div class="card__title">Mountain</div>
    <div class="card__subtitle">Black Mountain Sun</div>
    <p class="card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
    <a class="btn lava-gradient" href="#">Link</a>
  </div>
  <div class="card__figure">
    <img class="card__image" src="https://source.unsplash.com/random/800x300/?mountain" alt="Mountain">
  </div>
</div>


</body>
</html>

