

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Classes</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h1>Color Classes</h1>

<div class="bg-lava-light">lava-light</div>
<div class="bg-lava">lava</div>
<div class="bg-lava-dark">lava-dark</div>

<div class="bg-honeyyellow-light">honeyyellow-light</div>
<div class="bg-honeyyellow">honeyyellow</div>
<div class="bg-honeyyellow-dark">honeyyellow-dark</div>

<div class="bg-androidgreen-light">androidgreen-light</div>
<div class="bg-androidgreen">androidgreen</div>
<div class="bg-androidgreen-dark">androidgreen-dark</div>

<div class="bg-onyx-light">onyx-light</div>
<div class="bg-onyx">onyx</div>
<div class="bg-onyx-dark">onyx-dark</div>

<div class="bg-queenblue-light">queenblue-light</div>
<div class="bg-queenblue">queenblue</div>
<div class="bg-queenblue-dark">queenblue-dark</div>

<div class="bg-darkskyblue-light">darkskyblue-light</div>
<div class="bg-darkskyblue">darkskyblue</div>
<div class="bg-darkskyblue-dark">darkskyblue-dark</div>

<div class="bg-ghostwhite">ghostwhite</div>
<div class="bg-isabelline">isabelline</div>

  </div>

</body>
</html>

