

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Onyx</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h2>Onyx</h2>
<p>Anwendung für Störbalken (CTA) und Footer.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #525252">
    <div>Name: Onyx (light)</div>
    <div>Class: onyx-light</div>
    <div>Hex: #525252</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-white text-xs font-mono font-bold" style="background-color: #3d3d3d">
    <div>Name: Onyx</div>
    <div>Class: onyx</div>
    <div>Hex: #3d3d3d</div>
    <div>RGB: 149, 192, 61</div>
    <div>CMYK: 22, 0, 68, 25</div>
  </div>

  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #292929">
    <div>Name: Onyx (dark)</div>
    <div>Class: onyx-dark</div>
    <div>Hex: #292929</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="onyx p-2 mt-2 w-full h-48">
  onyx als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

  </div>

</body>
</html>

