

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Ghostwhite</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h2>Ghostwhite</h2>
<p>Hintergrundfarbe für interaktive Elemente und Formulare.</p>

<div class="flex flex-row gap-1">

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: #f6f7fc">
    <div>Name: Ghostwhite</div>
    <div>Class: ghostwhite</div>
    <div>Hex: #f6f7fc</div>
    <div>RGB: </div>
    <div>CMYK: </div>
  </div>

</div>

  </div>

</body>
</html>

