

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Honeyyellow</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h2>Honey Yellow</h2>
<p>Kontrastfarbe zu Lava und Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #f8c462">
    <div>Name: Lava (light)</div>
    <div>Class: honeyyellow-light</div>
    <div>Hex: #f8c462</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: #f6ae2d">
    <div>Name: Lava</div>
    <div>Class: honeyyellow</div>
    <div>Hex: #f6ae2d</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #f5a614">
    <div>Name: Lava (dark)</div>
    <div>Class: honeyyellow-dark</div>
    <div>Hex: #f5a614</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="honeyyellow p-2 mt-2 w-full h-48">
  honeyyellow als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

  </div>

</body>
</html>

