

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Queenblue</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h2>Queenblue</h2>
<p>Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #4282b3">
    <div>Name: Queenblue (light)</div>
    <div>Class: queenblue-light</div>
    <div>Hex: #4282b3</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-white text-xs font-mono font-bold" style="background-color: #33658a">
    <div>Name: Queenblue</div>
    <div>Class: queenblue</div>
    <div>Hex: #33658a</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #2c5777">
    <div>Name: Queenblue (dark)</div>
    <div>Class: queenblue-dark</div>
    <div>Hex: #2c5777</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="queenblue-gradient p-2 mt-2 w-full h-48">
  'queenblue-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

  </div>

</body>
</html>

