

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>übersicht Farben: Androidgreen</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h2>Android Green</h2>
<p>Hauptsächliche Anwendung bei reinpapier und Umwelt-Plaketten.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #abce64">
    <div>Name: Android Green (light)</div>
    <div>Class: androidgreen-light</div>
    <div>Hex: #abce64</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: #95c03d">
    <div>Name: Android Green</div>
    <div>Class: androidgreen</div>
    <div>Hex: #95c03d</div>
    <div>RGB: 149, 192, 61</div>
    <div>CMYK: 22, 0, 68, 25</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #84ab36">
    <div>Name: Android Green (dark)</div>
    <div>Class: androidgreen-dark</div>
    <div>Hex: #84ab36</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="androidgreen-gradient p-2 mt-2 w-full h-48">
  'androidgreen-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

  </div>

</body>
</html>

