

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <div class="prose m-4">
  <h2>Primary Colors</h2>
  <p>Dies sind die Haupt-Farben.</p>
</div>
<div class="flex gap-8">
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #c4182a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DE-PACK Red</div>
      <div>???</div>
      <div class="select-all font-mono">#c4182a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #262626;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Dark Dark</div>
      <div>???</div>
      <div class="select-all font-mono">#262626</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #4e4e4e;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Lighter Dark</div>
      <div>???</div>
      <div class="select-all font-mono">#4e4e4e</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #ffffff;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">White</div>
      <div>white</div>
      <div class="select-all font-mono">#ffffff</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #000000;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Black</div>
      <div>black</div>
      <div class="select-all font-mono">#000000</div>
    </div>
  </div>
</div>


  </div>
</body>
</html>

