

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Form-Elements: Radio</title>
</head>
<body>

    <fieldset class="block mt-2 mb-2">
  <legend>Radio-Buttons</legend>

  <div>
    <div class="inline-flex items-center">
      <input class="form-radio" type="radio" id="radio1" name="myradiogroup" value="one">
      <label class="ml-2" for="radio1">One</label>
    </div>
  </div>

  <div>
    <div class="inline-flex items-center">
      <input class="form-radio" type="radio" id="radio2" name="myradiogroup" value="two">
      <label class="ml-2" for="radio2">Two</label>
    </div>
  </div>

  <div>
    <div class="inline-flex items-center">
      <input class="form-radio" type="radio" id="radio3" name="myradiogroup" value="three">
      <label class="ml-2" for="radio3">Three</label>
    </div>
  </div>

</fieldset>


</body>
</html>

