

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Preview Layout</title>
</head>
<body>

    <div class="mt-2 mb-2">
  <label for="select">Select-Option:</label>
  <select class="form-select block w-full" type="select" id="select">
    <optgroup label="Treffe Deine Wahl">
      <option value="eins">Erste Option</option>
      <option value="zwei">Zweite Option</option>
      <option value="drei">Dritte Option</option>
      <option value="vier">Vierte Option</option>
      <option value="fünf">Fünfte Option</option>
    </optgroup>
  </select>
</div>


</body>
</html>

