

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Form-Elements: Password</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="mt-2 mb-2">
  <label for="passwordinput">Passwort Eingabe:</label>
  <input class="form-input block w-full" type="password" id="passwordinput" name="" value="" placeholder="geheim">
</div>

  </div>

</body>
</html>

