

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Form-Elements: Checkbox</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <fieldset class="block mt-2 mb-2">
  <legend>Radio-Buttons</legend>

  <div>
    <div class="inline-flex items-center">
      <input class="form-checkbox" type="checkbox" id="checkbox1" name="" value="one">
      <label class="ml-2" for="checkbox1">One</label>
    </div>
  </div>

  <div>
    <div class="inline-flex items-center">
      <input class="form-checkbox" type="checkbox" id="checkbox2" name="" value="two">
      <label class="ml-2" for="checkbox2">Two</label>
    </div>
  </div>

  <div>
    <div class="inline-flex items-center">
      <input class="form-checkbox" type="checkbox" id="checkbox3" name="" value="three">
      <label class="ml-2" for="checkbox3">Three</label>
    </div>
  </div>

</fieldset>

  </div>

</body>
</html>

