

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>


<div class="prose max-w-none">
  <div class="prose">
    <h1>Font Weight</h1>
  </div>
  <table class="table-auto border-collapse w-full overflow-hidden">
  <thead>
    <tr>
      <th>Class</th>
      <th>Value</th>
      <th>Sample</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>font-thin</td>
      <td>100</td>
      <td class="text-2xl font-thin">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-extralight</td>
      <td>200</td>
      <td class="text-2xl font-extralight">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-light</td>
      <td>300</td>
      <td class="text-2xl font-light">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-normal</td>
      <td>400</td>
      <td class="text-2xl font-normal">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-medium</td>
      <td>500</td>
      <td class="text-2xl font-medium">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-semibold</td>
      <td>600</td>
      <td class="text-2xl font-semibold">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-bold</td>
      <td>700</td>
      <td class="text-2xl font-bold">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-extrabold</td>
      <td>800</td>
      <td class="text-2xl font-extrabold">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>font-black</td>
      <td>900</td>
      <td class="text-2xl font-black">The quick brown fox jumps over the lazy dog</td>
    </tr>
  </tbody>
  </table>
</div>


</body>
</html>

