

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Font Weight: Classes</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h1>Font Weight Classes</h1>

<div class="font-thin">font-thin</div>
<div class="font-extralight">font-extralight</div>
<div class="font-light">font-light</div>
<div class="font-normal">font-normal</div>
<div class="font-medium">font-medium</div>
<div class="font-semibold">font-semibold</div>
<div class="font-bold">font-bold</div>
<div class="font-extrabold">font-extrabold</div>
<div class="font-black">font-black</div>

  </div>

</body>
</html>

