

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Font Family: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="font-sans">
<h1>Montserrat</h1>
<p>Montserrat. The quick brown fox jumps over the lazy dog.
</p>
</div>

<div class="font-serif">
<h1>Crimson Text</h1>
<p>Crimson Text. The quick brown fox jumps over the lazy dog.
</p>
</div>

<div class="font-mono">
<h1>Source Code Pro</h1>
<p>Source Code Pro. The quick brown fox jumps over the lazy dog.
</p></div>

  </div>

</body>
</html>

