

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Preview Layout</title>
</head>
<body>

    <form>
  <div class="mt-2 mb-2">
    <label for="textinput">Texteingabe:</label>
    <input class="form-input block w-full" type="text" id="textinput" name="" value="" placeholder="Hier Text eingeben">
  </div>
  <div class="mt-2 mb-2">
    <label for="dateinput">Datum Eingabe:</label>
    <input class="form-input block w-full" type="date" id="dateinput" name="" value="">
  </div>
  <div class="mt-2 mb-2">
    <label for="timeinput">Zeitangabe:</label>
    <input class="form-input block w-full" type="time" id="timeinput" name="" value="">
  </div>
  <div class="mt-2 mb-2">
    <label for="emailinput">E-Mail:</label>
    <input class="form-input block w-full" type="email" id="emailinput" name="" value="" placeholder="mail@address.de">
  </div>
  <div class="mt-2 mb-2">
    <label for="select">Select-Option:</label>
    <select class="form-select block w-full" type="select" id="select">
      <optgroup label="Treffe Deine Wahl">
      </optgroup>
    </select>
  </div>
  <fieldset class="block mt-2 mb-2">
    <legend>Radio-Buttons</legend>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox" id="checkbox1" name="" value="one">
        <label class="ml-2" for="checkbox1">One</label>
      </div>
    </div>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox" id="checkbox2" name="" value="two">
        <label class="ml-2" for="checkbox2">Two</label>
      </div>
    </div>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox" id="checkbox3" name="" value="three">
        <label class="ml-2" for="checkbox3">Three</label>
      </div>
    </div>
  
  </fieldset>
  <fieldset class="block mt-2 mb-2">
    <legend>Radio-Buttons</legend>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-radio" type="radio" id="radio1" name="myradiogroup" value="one">
        <label class="ml-2" for="radio1">One</label>
      </div>
    </div>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-radio" type="radio" id="radio2" name="myradiogroup" value="two">
        <label class="ml-2" for="radio2">Two</label>
      </div>
    </div>
  
    <div>
      <div class="inline-flex items-center">
        <input class="form-radio" type="radio" id="radio3" name="myradiogroup" value="three">
        <label class="ml-2" for="radio3">Three</label>
      </div>
    </div>
  
  </fieldset>
  <div class="mt-2 mb-2">
    <label for="passwordinput">Passwort Eingabe:</label>
    <input class="form-input block w-full" type="password" id="passwordinput" name="" value="" placeholder="geheim">
  </div>
  <div class="mt-2 mb-2">
    <label for="textareainput">Freitext-Eingabe:</label>
    <textarea class="form-textarea block w-full" id="textareainput" rows="10" cols="50" placeholder="type some text ..."></textarea>
  </div>
</form>


</body>
</html>

