

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Grid: Classes</title>
</head>
<body>

    grid
grid-cols-1
grid-cols-2
grid-cols-3
grid-cols-4
grid-cols-5
grid-cols-6
grid-cols-7
grid-cols-8
grid-cols-9
grid-cols-10
grid-cols-11
grid-cols-12

sm:grid-cols-1
md:grid-cols-2
lg:grid-cols-3
lg:grid-cols-4
lg:grid-cols-5
lg:grid-cols-6
lg:grid-cols-7
lg:grid-cols-8
lg:grid-cols-9
lg:grid-cols-10
lg:grid-cols-11
lg:grid-cols-12


</body>
</html>

