

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Grid: Default</title>
</head>
<body>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 my-8">
  <div class="card">
    <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    <div class="card-body">
      <a class="card-title" href="/olymp/seo-speed-relaunch-mit-tailwind-css" hreflang="de">SEO Speed Relaunch mit Tailwind CSS</a>
      <div class="card-text">Geschindigkeitsschub durch Tailwind CSS</div>
    </div>
  </div>

  <div class="prose-all">

    <div>

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/seo-scoutorg-statifiziert" hreflang="de">SEO-Scout.org statifiziert</a>
    </div>

    <div class="text-sm">Zur Ruhe gesetzter Blog mit Publii</div>

  </div>
  <div class="prose-all">

    <div>

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/lehrbuch-physik" hreflang="de">Lehrbuch-Physik</a>
    </div>

    <div class="text-sm">Website Betreuung</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/69" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/lehrbuch-psychologie" hreflang="de">Lehrbuch Psychologie</a>
    </div>

    <div class="text-sm">Website Betreuung</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/70" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/lehrbuch-biologie" hreflang="de">Lehrbuch Biologie</a>
    </div>

    <div class="text-sm">Website Betreuung</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/72" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/verpackungende-relaunch-2022" hreflang="de">verpackungen.de Relaunch 2022</a>
    </div>

    <div class="text-sm">Geschwindigkeit mit Tailwind CSS</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/73" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/green-lovers-drupal-seo-relaunch" hreflang="de">green lovers Drupal SEO Relaunch</a>
    </div>

    <div class="text-sm">Restrukturierung und Ausbau</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/30" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/advertorial-kampagne-fuer-de-pack" hreflang="de">Advertorial Kampagne für DE-PACK</a>
    </div>

    <div class="text-sm">Artikel über reinpapier in Online-Ausgaben bekannter Magazine</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/75" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/common-smartcard-umstrukturierung" hreflang="de">Common Smartcard Umstrukturierung</a>
    </div>

    <div class="text-sm">Wordpress Gutenberg Editor Umsetzung</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/76" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/fc-huefingen-ev-relaunch" hreflang="de">FC Hüfingen e.V. Relaunch</a>
    </div>

    <div class="text-sm">Drupal 9 SEF Relaunch in moderner Optik</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/77" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/wordpress-updates" hreflang="de">Wordpress Updates</a>
    </div>

    <div class="text-sm">Wordpress Kernel + Plugins Update</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/78" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/jc-bio-olivenoel" hreflang="de">JC Bio Olivenöl</a>
    </div>

    <div class="text-sm">Google Ads und SEO für mehr Traffic</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/relaunch-minimalistisch" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/relaunch-minimalistisch" hreflang="de">Relaunch Minimalistisch</a>
    </div>

    <div class="text-sm">Vollständiger Full-Stop Relaunch</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/de-pack-web-relaunch" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/de-pack-web-relaunch" hreflang="de">DE-PACK Web Relaunch</a>
    </div>

    <div class="text-sm">SEO Optimierung und UI-Redesign 2021</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/64" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/seo-wissensseite" hreflang="de">SEO Wissensseite</a>
    </div>

    <div class="text-sm">Hub für SEO-Knowledge</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/seo-tuning-fuer-umweltfreundlich-und-nachhaltig" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/seo-tuning-fuer-umweltfreundlich-und-nachhaltig" hreflang="de">SEO Tuning für umweltfreundlich und nachhaltig</a>
    </div>

    <div class="text-sm">Umweltfreundliche und nachhaltige Verpackungen</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/test-auf-benutzerorientierung-einer-webseite" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/test-auf-benutzerorientierung-einer-webseite" hreflang="de">Test auf Benutzerorientierung einer Webseite</a>
    </div>

    <div class="text-sm">Online-Befragung und Webseite mit Hintergrundinfos</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/consent-manager-loesung" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/consent-manager-loesung" hreflang="de">Consent-Manager Lösung</a>
    </div>

    <div class="text-sm">Implementationshilfe bei DSGVO-Erfüllung</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/65" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/omd-verzeichnis" hreflang="de">OMD Verzeichnis</a>
    </div>

    <div class="text-sm">Katalog Online-Marketing Dienstleister</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/hypersoft-pos-kassen-optimierung" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/hypersoft-pos-kassen-optimierung" hreflang="de">Hypersoft POS Kassen Optimierung</a>
    </div>

    <div class="text-sm">Drupal 8 SEO Relaunch</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/hadesphoenix-2020" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/hadesphoenix-2020" hreflang="de">Hadesphoenix 2020</a>
    </div>

    <div class="text-sm">Statifizierte Website mit Publii</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/74" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="0">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/corona-pandemie" hreflang="de">Corona Pandemie</a>
    </div>

    <div class="text-sm">Einschnitt in das Leben</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/de-pack-seo-2020" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/de-pack-seo-2020" hreflang="de">DE-PACK SEO 2020</a>
    </div>

    <div class="text-sm">Suchmaschinenoptimierung zur Trafficsteigerung</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/greenlovers-navigator" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/greenlovers-navigator" hreflang="de">greenlovers Navigator</a>
    </div>

    <div class="text-sm">Ambitionierte Landeseite für Hamburg mit green lovers</div>

  </div>
  <div class="prose-all">

    <div data-quickedit-entity-id="media/30" class="contextual-region" data-once="quickedit" data-quickedit-entity-instance-id="1">

      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">

    </div>

    <div class="font-bold text-sm">
      <a href="/olymp/composer-workflow-fuer-13-drupal-8-websites" hreflang="de">Composer-Workflow für 13 Drupal-8 Websites</a>
    </div>

    <div class="text-sm">Update Prozesse vereinfachen</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/phoenixseo-revamp-2019" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/phoenixseo-revamp-2019" hreflang="de">PHOENIXSEO Revamp 2019</a>
    </div>

    <div class="text-sm">Benutzer-Zentrierung der Website</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/diavolo-seo-relaunch-2019" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/diavolo-seo-relaunch-2019" hreflang="de">Diavolo SEO Relaunch 2019</a>
    </div>

    <div class="text-sm">Modernisierung Interface und Restrukturierung Inhalte</div>

  </div>
  <div class="prose-all">

    <a href="/olymp/mitarbeitersuche-google-ads" hreflang="de">
      <img src="https://phoenixseo.de/drimage/320/200/548/-/sites/default/files/2022-07/pixel.webp" alt="PHOENIXSEO Relaunch 2022">
    </a>

    <div class="font-bold text-sm">
      <a href="/olymp/mitarbeitersuche-google-ads" hreflang="de">Mitarbeitersuche via Google Ads</a>
    </div>

    <div class="text-sm">Modernes Human Recruiting</div>

  </div>
</div>


</body>
</html>

