

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>

<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
  <p>H1 nur 1 x auf jeder gegebenen Seite!</p>
</div>

<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
  <figure>
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <figcaption>default h1</figcaption>
  </figure>
</div>

<div class="mt-8 prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
  <figure>
    <h1 class="text-stone-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <figcaption>reinpapier.de / text-stone-700</figcaption>
  </figure>
  <figure>
    <h1 class="text-lime-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <figcaption>reinpapier.de / text-lime-700</figcaption>
  </figure>
  <figure>
    <h1 class="text-stone-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <figcaption>reinpapier.de / text-stone-500</figcaption>
  </figure>
</div>


</body>
</html>

