

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Link: Small Button</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    Lorem ipsum dolor sit amet, 
<a class="btn btn-sm" href="#" target="_self">Dies ist ein Link</a>
consectetur adipiscing elit, sed do eiusmod tempor

  </div>

</body>
</html>

