

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Link: Normal</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <p>
  Lorem ipsum dolor sit amet, 
  <a class="normal" href="#" target="_self">Dies ist ein Link</a>
  consectetur adipiscing elit, sed do eiusmod tempor
</p>

  </div>

</body>
</html>

