

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Listen: UL</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <ul>
    <li>Wie heißt der Bürgermeister?: Sellerbeck, Rosselhuber</li>
    <li>Warum ist die Banane krumm?: Die Schwerkraft kann alles.</li>
    <li>Part 1: Part 2</li>
    <li>Tiere?: Hund, Katze, Maus</li>
    <li>Farben?: Rot, grün, blau (RGB); Cyan, Magenta, Yellow, Black (CMYK)</li>
    <li>Ein längerer Eintrag: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
  </ul>

  </div>

</body>
</html>

