

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <div class="prose leading-tight">
  <h1>Members</h1>

  <ul>
    <li>
      <img src="http://loremflickr.com/64/64/people?97962" class="rounded-full" width="64" height="64">
      <p>
        <strong>Keith Schiller</strong>
        <br>Fatima.Borer19@gmail.com
        <br>42062 Norwalk
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?989" class="rounded-full" width="64" height="64">
      <p>
        <strong>Chester Sipes</strong>
        <br>Veda_MacGyver50@hotmail.com
        <br>84724 Lake Laney
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?12366" class="rounded-full" width="64" height="64">
      <p>
        <strong>Dorothy Hamill</strong>
        <br>Tristin.Predovic26@gmail.com
        <br>01242 New Britain
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?82818" class="rounded-full" width="64" height="64">
      <p>
        <strong>Rickey Kessler II</strong>
        <br>Kylee_Treutel@hotmail.com
        <br>29971 South Jordan
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?38342" class="rounded-full" width="64" height="64">
      <p>
        <strong>Frank Boyle</strong>
        <br>Ezra.Lakin@gmail.com
        <br>64193 Hesselchester
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?57075" class="rounded-full" width="64" height="64">
      <p>
        <strong>Elijah Considine</strong>
        <br>Blair.Mitchell@yahoo.com
        <br>47308 New Rolandotown
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?8527" class="rounded-full" width="64" height="64">
      <p>
        <strong>Ora Flatley</strong>
        <br>Verna_Torp4@gmail.com
        <br>53405 East Gracie
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?44992" class="rounded-full" width="64" height="64">
      <p>
        <strong>Pat Fahey</strong>
        <br>Lura.Adams@yahoo.com
        <br>25217 East Carolynefurt
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?57446" class="rounded-full" width="64" height="64">
      <p>
        <strong>Cameron Champlin</strong>
        <br>Louie50@yahoo.com
        <br>12292 West Torrance
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?59315" class="rounded-full" width="64" height="64">
      <p>
        <strong>Sheryl Reichert</strong>
        <br>Nadia68@yahoo.com
        <br>49259 Alfordside
      </p>
    </li>
  <ul>
</div>


  </div>
</body>
</html>

