

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>

<div class="prose leading-tight">
  <h1>Members</h1>

  <ul>
    <li>
      <img src="http://loremflickr.com/64/64/people?66293" class="rounded-full" width="64" height="64">
      <p>
        <strong>Rachael Jenkins</strong>
        <br>Ernest.Hilll@yahoo.com
        <br>70506 Terryhaven
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?62048" class="rounded-full" width="64" height="64">
      <p>
        <strong>Cary Miller</strong>
        <br>Amely.Hudson92@gmail.com
        <br>25714 Fort Brainfurt
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?45459" class="rounded-full" width="64" height="64">
      <p>
        <strong>Lois Franecki</strong>
        <br>Jessyca60@gmail.com
        <br>37452 Harrisonburg
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?9305" class="rounded-full" width="64" height="64">
      <p>
        <strong>Caleb Prosacco</strong>
        <br>Daphnee_West@hotmail.com
        <br>95205 Brookline
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?90150" class="rounded-full" width="64" height="64">
      <p>
        <strong>Robin Hodkiewicz</strong>
        <br>Melody13@yahoo.com
        <br>56255 Lake Cicero
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?55246" class="rounded-full" width="64" height="64">
      <p>
        <strong>Meredith Lockman</strong>
        <br>Raymundo.Franey83@hotmail.com
        <br>57244 Robbberg
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?10887" class="rounded-full" width="64" height="64">
      <p>
        <strong>Tina Baumbach V</strong>
        <br>John6@yahoo.com
        <br>90086 Hempstead
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?22572" class="rounded-full" width="64" height="64">
      <p>
        <strong>Ervin Brakus</strong>
        <br>Rodger39@hotmail.com
        <br>18665 Fort Francisca
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?97137" class="rounded-full" width="64" height="64">
      <p>
        <strong>Vera Fay</strong>
        <br>Aliza.Prohaska@yahoo.com
        <br>44261 Hughside
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?95120" class="rounded-full" width="64" height="64">
      <p>
        <strong>Kenneth Cronin</strong>
        <br>Abraham29@hotmail.com
        <br>55953 Dangelostad
      </p>
    </li>
  <ul>
</div>


</body>
</html>

