

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>

<div class="prose leading-tight">
  <h1>Members</h1>

  <ul>
    <li>
      <img src="http://loremflickr.com/64/64/people?63599" class="rounded-full" width="64" height="64">
      <p>
        <strong>Elizabeth Jacobs</strong>
        <br>Ima.Feil53@gmail.com
        <br>48286 West Kimberlyview
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?15508" class="rounded-full" width="64" height="64">
      <p>
        <strong>Kristi Mosciski</strong>
        <br>Payton93@hotmail.com
        <br>80486 Camarillo
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?20068" class="rounded-full" width="64" height="64">
      <p>
        <strong>Miss Christie Kertzmann</strong>
        <br>Yasmine98@yahoo.com
        <br>54687 Rosannatown
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?54928" class="rounded-full" width="64" height="64">
      <p>
        <strong>Johnny Cassin</strong>
        <br>Rubye_Lesch93@yahoo.com
        <br>97203 Donnellyfort
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?33508" class="rounded-full" width="64" height="64">
      <p>
        <strong>Bobbie Wyman</strong>
        <br>Ryder71@yahoo.com
        <br>70234 West Oma
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?15341" class="rounded-full" width="64" height="64">
      <p>
        <strong>Robin Altenwerth</strong>
        <br>Christina.Abshire25@gmail.com
        <br>40497 North Adrianfurt
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?2917" class="rounded-full" width="64" height="64">
      <p>
        <strong>Constance Kiehn Jr.</strong>
        <br>Linwood.Hauck@hotmail.com
        <br>61327 West Juwanhaven
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?38410" class="rounded-full" width="64" height="64">
      <p>
        <strong>Julia Wilkinson</strong>
        <br>Glen60@hotmail.com
        <br>41749 West Blanchechester
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?82927" class="rounded-full" width="64" height="64">
      <p>
        <strong>Jimmie Ryan</strong>
        <br>Candelario.Gibson93@yahoo.com
        <br>76704 New Lamarton
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?81273" class="rounded-full" width="64" height="64">
      <p>
        <strong>Larry Luettgen IV</strong>
        <br>Amie58@hotmail.com
        <br>58636 Bednarborough
      </p>
    </li>
  <ul>
</div>


</body>
</html>

