

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Menu: Default</title>
</head>
<body>

    
<nav class="w-full bg-ghostwhite text-base font-bold">
  <ul class="menu parents flex flex-row gap-4">
            <li class="parent px-2 py-4">
        <a class="parent whitespace-nowrap" href="#">Eintrag 1</a>
      </li>
            <li class="parent has-children px-2 py-4">
        <a class="parent has-children whitespace-nowrap" href="#">Eintrag 2</a>
        <ul class="children flex flex-col gap-4">
                    <li class="child bg-ghostwhite px-2 py-4">
            <a class="child whitespace-nowrap" href="#">Eintrag 2 - 1</a>
          </li>
                    <li class="child bg-ghostwhite px-2 py-4">
            <a class="child whitespace-nowrap" href="#">Eintrag 2 - 2</a>
          </li>
                    <li class="child bg-ghostwhite px-2 py-4">
            <a class="child whitespace-nowrap" href="#">Eintrag 2 - 3</a>
          </li>
                  </ul>
      </li>
            <li class="parent px-2 py-4">
        <a class="parent whitespace-nowrap" href="#">Eintrag 3</a>
      </li>
            <li class="parent has-children px-2 py-4">
        <a class="parent has-children whitespace-nowrap" href="#">Eintrag 4</a>
        <ul class="children flex flex-col gap-4">
                    <li class="child bg-ghostwhite px-2 py-4">
            <a class="child whitespace-nowrap" href="#">Eintrag 4 - 1</a>
          </li>
                    <li class="child bg-ghostwhite px-2 py-4">
            <a class="child whitespace-nowrap" href="#">Eintrag 4 - 2</a>
          </li>
                  </ul>
      </li>
            <li class="parent px-2 py-4">
        <a class="parent whitespace-nowrap" href="#">Eintrag 5</a>
      </li>
    </ul>
</nav>


</body>
</html>

