

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Message: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="message w-full bg-ghostwhite rounded-md p-4 border">
  <p>Dies ist eine Mitteilung.
  <a class="" href="" target="">Mehr Infos</a>
  </p>
</div>

  </div>

</body>
</html>

