

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Message: Alert</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="alert rounded-md bg-lava p-4 text-white">
  This is an alert! Total wichtig. 
  <button class="">
  
</button>
</div>

  </div>

</body>
</html>

