

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <div class="flex gap-4">
  <p>Complex UI components, composed of groups of molecules and/or atoms and/or other organisms</p>
  <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-organisms.png" alt="Organisms" width="500" />
</div>


  </div>
</body>
</html>

