

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    Pages are specific instances of templates that show what a UI looks like with real representative content in place

<img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-pages.png" alt="Pages" width="500" />

<hr>

<img src="https://atomicdesign.bradfrost.com/images/content/page.png" alt="Page sample" />


  </div>
</body>
</html>

