

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>People: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-8 sm:space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">The People</h2>
        <p class="text-xl text-gray-500">Risus velit condimentum vitae tincidunt tincidunt. Mauris ridiculus fusce amet urna nunc. Ut nisl ornare diam in.</p>
      </div>
      <ul role="list" class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">

                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?62147" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Jody Schiller</h3>
                <p class="text-indigo-600">District Paradigm Designer</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?80113" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Cora McDermott</h3>
                <p class="text-indigo-600">Principal Configuration Specialist</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?43446" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Edwin Stoltenberg IV</h3>
                <p class="text-indigo-600">Legacy Factors Liaison</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?28209" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ethel Orn</h3>
                <p class="text-indigo-600">Chief Data Orchestrator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?91885" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Mr. Shirley Gleichner</h3>
                <p class="text-indigo-600">Human Directives Manager</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?99230" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Brooke Bailey IV</h3>
                <p class="text-indigo-600">Chief Directives Facilitator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?64703" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Patsy Gaylord</h3>
                <p class="text-indigo-600">Investor Operations Executive</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?11327" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Marion Heller</h3>
                <p class="text-indigo-600">Dynamic Integration Manager</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?77962" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Marguerite Boyle PhD</h3>
                <p class="text-indigo-600">Internal Solutions Designer</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?93601" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Pauline Pfannerstill</h3>
                <p class="text-indigo-600">Legacy Tactics Architect</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?9474" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Amos Mertz</h3>
                <p class="text-indigo-600">Legacy Data Administrator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?47492" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Edna Runte</h3>
                <p class="text-indigo-600">International Web Facilitator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?80361" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Wilbur Parker</h3>
                <p class="text-indigo-600">Product Integration Supervisor</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?98920" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Monique Beer II</h3>
                <p class="text-indigo-600">Dynamic Implementation Assistant</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?57100" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ms. Lloyd Kub</h3>
                <p class="text-indigo-600">Human Creative Planner</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?95287" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Sheldon Kunze</h3>
                <p class="text-indigo-600">National Communications Agent</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?56188" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ms. Jeanne Bode</h3>
                <p class="text-indigo-600">Human Security Executive</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?56904" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Wesley Ziemann I</h3>
                <p class="text-indigo-600">District Functionality Developer</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?35176" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Merle Carroll</h3>
                <p class="text-indigo-600">Principal Research Architect</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?13918" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Myra Rogahn</h3>
                <p class="text-indigo-600">Dynamic Quality Coordinator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?65777" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Johnny Hickle</h3>
                <p class="text-indigo-600">Chief Assurance Coordinator</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?6563" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Salvador Daniel</h3>
                <p class="text-indigo-600">Future Configuration Engineer</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?7323" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Sarah Bruen</h3>
                <p class="text-indigo-600">Corporate Identity Engineer</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?12533" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Karla Schmitt</h3>
                <p class="text-indigo-600">Direct Operations Planner</p>
              </div>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>

  </div>

</body>
</html>

