

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Preview Layout</title>
</head>
<body>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-8 sm:space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">The People</h2>
        <p class="text-xl text-gray-500">Risus velit condimentum vitae tincidunt tincidunt. Mauris ridiculus fusce amet urna nunc. Ut nisl ornare diam in.</p>
      </div>
      <ul role="list" class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">

        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?33694" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Roger Larson</h3>
                <p class="text-indigo-600">National Usability Agent</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?35078" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Sonia Jerde</h3>
                <p class="text-indigo-600">Corporate Creative Representative</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?4435" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Brett Goldner</h3>
                <p class="text-indigo-600">National Integration Manager</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?27487" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ms. Desiree Gottlieb</h3>
                <p class="text-indigo-600">Senior Applications Developer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?42905" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Mr. Delores Purdy</h3>
                <p class="text-indigo-600">International Identity Agent</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?4753" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>May Blick</h3>
                <p class="text-indigo-600">Product Metrics Technician</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?2120" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Joanna Goldner</h3>
                <p class="text-indigo-600">Lead Configuration Executive</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?26499" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Jessie Sawayn</h3>
                <p class="text-indigo-600">Customer Optimization Consultant</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?25694" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Miranda Watsica</h3>
                <p class="text-indigo-600">Investor Implementation Supervisor</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?30652" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Tonya Greenfelder</h3>
                <p class="text-indigo-600">Legacy Program Engineer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?74492" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Samuel Lockman</h3>
                <p class="text-indigo-600">Direct Usability Executive</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?74527" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Felicia Mueller</h3>
                <p class="text-indigo-600">Investor Directives Executive</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?10962" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Loretta Barrows</h3>
                <p class="text-indigo-600">Dynamic Optimization Administrator</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?93545" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Gertrude Abernathy</h3>
                <p class="text-indigo-600">Central Tactics Liaison</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?12262" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Abel Ebert</h3>
                <p class="text-indigo-600">Dynamic Interactions Designer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?7383" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Eva Dach</h3>
                <p class="text-indigo-600">Forward Brand Agent</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?64820" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Barbara Hirthe</h3>
                <p class="text-indigo-600">Direct Metrics Associate</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?39666" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Steve Schmeler</h3>
                <p class="text-indigo-600">Senior Communications Officer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?76580" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Mr. Norma Smith</h3>
                <p class="text-indigo-600">Principal Creative Director</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?85224" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Tracey Pacocha</h3>
                <p class="text-indigo-600">Lead Tactics Consultant</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?59277" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Marion Blick</h3>
                <p class="text-indigo-600">Future Directives Analyst</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?47501" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Noel Rutherford</h3>
                <p class="text-indigo-600">International Research Engineer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?22314" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Desiree Reichert</h3>
                <p class="text-indigo-600">National Optimization Planner</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?58891" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Joyce Feeney</h3>
                <p class="text-indigo-600">National Directives Specialist</p>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>


</body>
</html>

