

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Region: Header</title>
</head>
<body>

    <section name="header" class="w-full">
  <div class="region flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
    <img src="/assets/logo/de-pack-logo.svg" width="124"><div class="text-5xl">Some default Content</div>
  </div>
</section>


</body>
</html>

