

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Region: Hero</title>
</head>
<body>

    <section name="hero" class="w-full py-4 bg-isabelline">
  <div class="region region-hero container mx-auto">
    <div class="text-white"><div class="text-5xl">Some default Content</div></div>
    <img src="/assets/logo/de-pack-logo.svg" width="124">
  </div>
</section>


</body>
</html>

