

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Region: Cta</title>
</head>
<body>

    <section name="cta" class="w-full my-8 py-8 lava-gradient">
  <div class="region container mx-auto text-7xl">
    <img src="/assets/logo/de-pack-logo.svg" width="124"><div class="text-5xl">Some default Content</div>
  </div>
</section>


</body>
</html>

