

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Preview Layout</title>
</head>
<body>

    <h1>reinpapier.de</h1>

<div class="flex gap-8">
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #4d7c0f;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Lime</div>
      <div>lime-700</div>
      <div class="select-all font-mono">#4d7c0f</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #44403c;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-700</div>
      <div class="select-all font-mono">#44403c</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h2>Color Shades</h2>
  <p>Dies sind die Schattierungen der Primärfarben, die verwendet werden können.</p>
</div>

<div class="prose m-4">
  <h3>Stone Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #fafaf9;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-50</div>
      <div class="select-all font-mono">#fafaf9</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f5f5f4;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-100</div>
      <div class="select-all font-mono">#f5f5f4</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #e7e5e4;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-200</div>
      <div class="select-all font-mono">#e7e5e4</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #78716c;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-500</div>
      <div class="select-all font-mono">#78716c</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #44403c;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-700</div>
      <div class="select-all font-mono">#44403c</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #1c1917;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-900</div>
      <div class="select-all font-mono">#1c1917</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h3>Text Colors</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #78716c;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-500</div>
      <div class="select-all font-mono">#78716c</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #44403c;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Stone</div>
      <div>stone-700</div>
      <div class="select-all font-mono">#44403c</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #4d7c0f;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Lime</div>
      <div>lime-700</div>
      <div class="select-all font-mono">#4d7c0f</div>
    </div>
  </div>
</div>


</body>
</html>

