

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Site Branding: Default</title>
</head>
<body>

    <a href="#" class="w-[350px]">
  <div class="site-branding w-[350px] flex flex-row items-center gap-2 border">
      <div class="site-logo not-prose">
  <img src="/assets/logo/de-pack-logo.svg" width="160">
</div>
      <div class="whitespace-no-wrap">
        <div class="site-name font-bold text-2xl whitespace-no-wrap not-prose">
  DE-PACK
</div>
        <div class="site-slogan text-sm whitespace-no-wrap not-prose">
  Innovative Verpackungen
</div>
      </div>
  </div>
</a>


</body>
</html>

