

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Table: Separate</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <table class="border-separate">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>corridor</th>
            <th>regulator</th>
            <th>coach</th>
            <th>park</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>quilt</td>
      <td>ghost</td>
      <td>proper</td>
      <td>gratefully</td>
    </tr>
        <tr>
      <td>jumper</td>
      <td>denigrate</td>
      <td>antique</td>
      <td>tomorrow</td>
    </tr>
        <tr>
      <td>dreamer</td>
      <td>lumber</td>
      <td>round</td>
      <td>colorfully</td>
    </tr>
        <tr>
      <td>teller</td>
      <td>pepper</td>
      <td>excited</td>
      <td>exactly</td>
    </tr>
        <tr>
      <td>reward</td>
      <td>reinstate</td>
      <td>yummy</td>
      <td>interestingly</td>
    </tr>
        <tr>
      <td>bun</td>
      <td>abase</td>
      <td>early</td>
      <td>mechanically</td>
    </tr>
        <tr>
      <td>illusion</td>
      <td>dote</td>
      <td>lumbering</td>
      <td>valiantly</td>
    </tr>
        <tr>
      <td>uncertainty</td>
      <td>formulate</td>
      <td>unused</td>
      <td>obnoxiously</td>
    </tr>
        <tr>
      <td>ownership</td>
      <td>frizz</td>
      <td>criminal</td>
      <td>longingly</td>
    </tr>
        <tr>
      <td>assessment</td>
      <td>conjure</td>
      <td>unused</td>
      <td>exactly</td>
    </tr>
        <tr>
      <td>farm</td>
      <td>hitch</td>
      <td>plump</td>
      <td>jaggedly</td>
    </tr>
        <tr>
      <td>lyrics</td>
      <td>inveigh</td>
      <td>disastrous</td>
      <td>unethically</td>
    </tr>
        <tr>
      <td>necessity</td>
      <td>yak</td>
      <td>alert</td>
      <td>afterwards</td>
    </tr>
        <tr>
      <td>ligand</td>
      <td>praises</td>
      <td>primary</td>
      <td>softly</td>
    </tr>
        <tr>
      <td>snowplow</td>
      <td>rest</td>
      <td>sunny</td>
      <td>mechanically</td>
    </tr>
        <tr>
      <td>lamp</td>
      <td>interest</td>
      <td>submissive</td>
      <td>ultimately</td>
    </tr>
        <tr>
      <td>quantity</td>
      <td>transcribe</td>
      <td>poor</td>
      <td>far</td>
    </tr>
        <tr>
      <td>sip</td>
      <td>mount</td>
      <td>utilized</td>
      <td>cautiously</td>
    </tr>
        <tr>
      <td>controversy</td>
      <td>conduct</td>
      <td>sinful</td>
      <td>fatally</td>
    </tr>
        <tr>
      <td>complexity</td>
      <td>weasel</td>
      <td>kindhearted</td>
      <td>playfully</td>
    </tr>
      </tbody>
</table>

  </div>

</body>
</html>

