

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <table class="border-separate">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
      <th>inflammation</th>
      <th>buffalo</th>
      <th>parsley</th>
      <th>leg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bone</td>
      <td>denude</td>
      <td>unknown</td>
      <td>upwardly</td>
    </tr>
    <tr>
      <td>landmine</td>
      <td>batten</td>
      <td>daring</td>
      <td>regularly</td>
    </tr>
    <tr>
      <td>automaton</td>
      <td>ferret</td>
      <td>sweaty</td>
      <td>powerfully</td>
    </tr>
    <tr>
      <td>handmaiden</td>
      <td>factor</td>
      <td>imaginative</td>
      <td>properly</td>
    </tr>
    <tr>
      <td>thrill</td>
      <td>whimper</td>
      <td>scrawny</td>
      <td>easily</td>
    </tr>
    <tr>
      <td>cure</td>
      <td>fondle</td>
      <td>brief</td>
      <td>overconfidently</td>
    </tr>
    <tr>
      <td>nourishment</td>
      <td>receive</td>
      <td>unselfish</td>
      <td>ferociously</td>
    </tr>
    <tr>
      <td>puzzle</td>
      <td>anesthetize</td>
      <td>forked</td>
      <td>easily</td>
    </tr>
    <tr>
      <td>fertilizer</td>
      <td>crusade</td>
      <td>sizzling</td>
      <td>quickly</td>
    </tr>
    <tr>
      <td>miscommunication</td>
      <td>requite</td>
      <td>apt</td>
      <td>upbeat</td>
    </tr>
    <tr>
      <td>abbreviation</td>
      <td>dawdle</td>
      <td>sure-footed</td>
      <td>repeatedly</td>
    </tr>
    <tr>
      <td>fen</td>
      <td>right</td>
      <td>well-lit</td>
      <td>cruelly</td>
    </tr>
    <tr>
      <td>measles</td>
      <td>lope</td>
      <td>best</td>
      <td>speedily</td>
    </tr>
    <tr>
      <td>matter</td>
      <td>nearest</td>
      <td>legal</td>
      <td>kindly</td>
    </tr>
    <tr>
      <td>fiddle</td>
      <td>lead</td>
      <td>pointless</td>
      <td>loosely</td>
    </tr>
    <tr>
      <td>essential</td>
      <td>pig</td>
      <td>stale</td>
      <td>questioningly</td>
    </tr>
    <tr>
      <td>barge</td>
      <td>barnstorm</td>
      <td>nonstop</td>
      <td>equally</td>
    </tr>
    <tr>
      <td>platinum</td>
      <td>front</td>
      <td>truthful</td>
      <td>interestingly</td>
    </tr>
    <tr>
      <td>ramen</td>
      <td>blush</td>
      <td>unfolded</td>
      <td>famously</td>
    </tr>
    <tr>
      <td>detainee</td>
      <td>shadow</td>
      <td>quick</td>
      <td>queerly</td>
    </tr>
  </tbody>
</table>


  </div>
</body>
</html>

