

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

<table class="border-collapse">
  <thead>
    <tr>
      <th>Hahn, Senger and Fahey</th>
      <th>Rutherford Inc</th>
      <th>Schiller - Kuhic</th>
      <th>Kuhn, Pagac and Gutkowski</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>withdrawal transaction at King and Sons using card ending with ***(...5777) for BMD 583.50 in account ***44665277</td>
      <td>deposit transaction at Barrows - Schimmel using card ending with ***(...0570) for XFU 960.66 in account ***19363390</td>
      <td>deposit transaction at O&#x27;Reilly LLC using card ending with ***(...0047) for AUD 796.80 in account ***30643158</td>
      <td>invoice transaction at Jerde - Murphy using card ending with ***(...2214) for MZN 346.37 in account ***42420803</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Aufderhar and Sons using card ending with ***(...5951) for OMR 543.33 in account ***35502522</td>
      <td>deposit transaction at Tillman LLC using card ending with ***(...3296) for XAF 990.99 in account ***58356861</td>
      <td>payment transaction at Conroy - White using card ending with ***(...6478) for PHP 275.38 in account ***39653230</td>
      <td>payment transaction at Runolfsdottir - Willms using card ending with ***(...5814) for EGP 249.13 in account ***30934624</td>
    </tr>
    <tr>
      <td>payment transaction at Gutkowski, Strosin and Kihn using card ending with ***(...4165) for FJD 359.13 in account ***24277543</td>
      <td>deposit transaction at Armstrong LLC using card ending with ***(...3646) for CNY 244.25 in account ***09125475</td>
      <td>payment transaction at Haley Group using card ending with ***(...1445) for VUV 360.52 in account ***54932844</td>
      <td>invoice transaction at Koss Inc using card ending with ***(...1309) for UYU 272.06 in account ***41282155</td>
    </tr>
    <tr>
      <td>invoice transaction at Cole, Hilpert and Bayer using card ending with ***(...9549) for HRK 541.55 in account ***65176925</td>
      <td>withdrawal transaction at Botsford Group using card ending with ***(...1650) for BRL 560.42 in account ***68592400</td>
      <td>payment transaction at Rippin, Will and Turcotte using card ending with ***(...4275) for SCR 959.47 in account ***49096052</td>
      <td>withdrawal transaction at Brown Inc using card ending with ***(...0556) for AFN 776.39 in account ***60158009</td>
    </tr>
    <tr>
      <td>invoice transaction at Ernser and Sons using card ending with ***(...3044) for RON 785.35 in account ***36502468</td>
      <td>invoice transaction at Streich - Satterfield using card ending with ***(...3528) for XFU 308.09 in account ***33366860</td>
      <td>deposit transaction at Dietrich, Hirthe and Friesen using card ending with ***(...1781) for VEF 661.00 in account ***07878069</td>
      <td>deposit transaction at Labadie and Sons using card ending with ***(...9681) for DJF 555.55 in account ***07071680</td>
    </tr>
    <tr>
      <td>deposit transaction at Medhurst - Jaskolski using card ending with ***(...3677) for KPW 617.34 in account ***02827612</td>
      <td>payment transaction at Corkery - Hettinger using card ending with ***(...0730) for CAD 596.51 in account ***18673122</td>
      <td>deposit transaction at Hansen, Rodriguez and Turner using card ending with ***(...4768) for XAG 569.45 in account ***13815590</td>
      <td>payment transaction at Kuhlman - Lesch using card ending with ***(...6346) for VUV 953.43 in account ***96791272</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Hoeger - Wilkinson using card ending with ***(...0970) for AWG 290.61 in account ***65931384</td>
      <td>deposit transaction at Sanford - Bartoletti using card ending with ***(...8633) for SOS 974.59 in account ***27377624</td>
      <td>deposit transaction at Dickens - Tromp using card ending with ***(...0039) for OMR 929.69 in account ***05616109</td>
      <td>deposit transaction at Aufderhar, Keeling and Conroy using card ending with ***(...3649) for IQD 698.46 in account ***45051567</td>
    </tr>
    <tr>
      <td>payment transaction at Dach - Konopelski using card ending with ***(...4261) for TJS 214.70 in account ***22613618</td>
      <td>deposit transaction at Klocko and Sons using card ending with ***(...9249) for GIP 372.40 in account ***37977650</td>
      <td>withdrawal transaction at Jerde, Beahan and Turner using card ending with ***(...9010) for XAU 875.85 in account ***95015427</td>
      <td>invoice transaction at Schulist, Harris and Johnston using card ending with ***(...8157) for JMD 575.23 in account ***57291924</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Rogahn - Beatty using card ending with ***(...4084) for ALL 430.33 in account ***18270602</td>
      <td>payment transaction at Wyman, O&#x27;Reilly and Ullrich using card ending with ***(...9053) for MOP 203.54 in account ***78904338</td>
      <td>withdrawal transaction at Goldner, Rippin and Sawayn using card ending with ***(...9742) for IDR 115.17 in account ***20823379</td>
      <td>deposit transaction at Lowe - Corkery using card ending with ***(...8864) for QAR 551.33 in account ***97957159</td>
    </tr>
    <tr>
      <td>deposit transaction at Morissette Group using card ending with ***(...3055) for LTL 577.60 in account ***83712369</td>
      <td>withdrawal transaction at Corwin LLC using card ending with ***(...4812) for XAG 730.43 in account ***19040834</td>
      <td>withdrawal transaction at Haag - Boehm using card ending with ***(...1151) for MRO 94.03 in account ***78156600</td>
      <td>invoice transaction at Lubowitz and Sons using card ending with ***(...5876) for GBP 501.90 in account ***16485716</td>
    </tr>
    <tr>
      <td>payment transaction at Herzog and Sons using card ending with ***(...8089) for BGN 919.11 in account ***30506175</td>
      <td>payment transaction at Stokes - Deckow using card ending with ***(...4360) for UAH 166.80 in account ***44636610</td>
      <td>invoice transaction at Bogisich, Orn and Littel using card ending with ***(...1474) for MWK 379.62 in account ***47978246</td>
      <td>deposit transaction at Rippin, Friesen and Kohler using card ending with ***(...7157) for MYR 817.72 in account ***80346094</td>
    </tr>
    <tr>
      <td>payment transaction at Shields - Borer using card ending with ***(...2820) for COP 656.51 in account ***45532534</td>
      <td>payment transaction at Cummings - Kreiger using card ending with ***(...8900) for JOD 957.47 in account ***36701818</td>
      <td>payment transaction at McLaughlin, Hand and Roob using card ending with ***(...3528) for ALL 515.46 in account ***67206865</td>
      <td>payment transaction at Labadie and Sons using card ending with ***(...8366) for GNF 33.39 in account ***48769096</td>
    </tr>
    <tr>
      <td>payment transaction at Buckridge LLC using card ending with ***(...2178) for ISK 63.09 in account ***87713516</td>
      <td>deposit transaction at Williamson, Goyette and Swaniawski using card ending with ***(...7272) for ANG 909.66 in account ***27482576</td>
      <td>deposit transaction at Bauch, Konopelski and Wehner using card ending with ***(...2371) for MRO 405.75 in account ***60083977</td>
      <td>deposit transaction at Mosciski - Waelchi using card ending with ***(...9300) for MVR 606.79 in account ***12710658</td>
    </tr>
    <tr>
      <td>payment transaction at Mann LLC using card ending with ***(...0815) for MWK 253.03 in account ***40100405</td>
      <td>deposit transaction at Koch, DuBuque and Nienow using card ending with ***(...1756) for OMR 339.66 in account ***54971341</td>
      <td>invoice transaction at Walter - Feil using card ending with ***(...9670) for KHR 60.40 in account ***21144560</td>
      <td>payment transaction at Walsh, Rice and McCullough using card ending with ***(...5516) for BWP 848.70 in account ***85217334</td>
    </tr>
    <tr>
      <td>deposit transaction at Stoltenberg, Murray and Bartoletti using card ending with ***(...3777) for BAM 275.55 in account ***72575556</td>
      <td>withdrawal transaction at Collins, Jerde and DuBuque using card ending with ***(...0232) for PAB 61.67 in account ***20473465</td>
      <td>withdrawal transaction at Barton, Ullrich and Collins using card ending with ***(...1093) for SYP 331.03 in account ***74622731</td>
      <td>deposit transaction at Kris LLC using card ending with ***(...4605) for AED 568.06 in account ***08840492</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Beer, Ebert and Nikolaus using card ending with ***(...0312) for GHS 123.38 in account ***21573507</td>
      <td>payment transaction at Larson, Schuster and MacGyver using card ending with ***(...3045) for KWD 63.18 in account ***94386111</td>
      <td>invoice transaction at Ebert, Langosh and Bradtke using card ending with ***(...8657) for CZK 936.27 in account ***32498914</td>
      <td>withdrawal transaction at Bernhard - Prohaska using card ending with ***(...9723) for MWK 153.11 in account ***31720346</td>
    </tr>
    <tr>
      <td>invoice transaction at Prosacco, Lemke and Padberg using card ending with ***(...4188) for PGK 924.22 in account ***90770654</td>
      <td>deposit transaction at Botsford - Hills using card ending with ***(...3327) for LAK 812.03 in account ***21156672</td>
      <td>withdrawal transaction at Keebler - Goyette using card ending with ***(...7659) for XAG 379.86 in account ***96935570</td>
      <td>withdrawal transaction at Kuhlman Inc using card ending with ***(...9563) for LKR 282.74 in account ***22973172</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Walsh - Gerlach using card ending with ***(...9150) for CHF 439.90 in account ***42096444</td>
      <td>payment transaction at Prohaska, Osinski and Mitchell using card ending with ***(...3994) for HKD 426.77 in account ***14732181</td>
      <td>withdrawal transaction at Goodwin LLC using card ending with ***(...2738) for LTL 584.54 in account ***70363349</td>
      <td>deposit transaction at Fadel - VonRueden using card ending with ***(...9735) for XBC 582.58 in account ***09936238</td>
    </tr>
    <tr>
      <td>deposit transaction at Welch and Sons using card ending with ***(...7595) for COP 557.62 in account ***54609784</td>
      <td>invoice transaction at Adams - Goyette using card ending with ***(...8969) for KWD 599.97 in account ***15407280</td>
      <td>deposit transaction at Kuvalis, Rowe and McClure using card ending with ***(...5884) for ILS 992.93 in account ***66908725</td>
      <td>withdrawal transaction at Tromp - Schmeler using card ending with ***(...7356) for XPF 591.41 in account ***41084007</td>
    </tr>
    <tr>
      <td>invoice transaction at Weissnat - Armstrong using card ending with ***(...5369) for KMF 794.73 in account ***05483179</td>
      <td>withdrawal transaction at Friesen, Veum and Wiegand using card ending with ***(...4060) for DKK 723.63 in account ***08091574</td>
      <td>withdrawal transaction at Stehr and Sons using card ending with ***(...6939) for NZD 631.87 in account ***99717052</td>
      <td>withdrawal transaction at Buckridge, Witting and McKenzie using card ending with ***(...7955) for UZS 330.96 in account ***26654364</td>
    </tr>
  </tbody>
</table>

</div>


  </div>
</body>
</html>

