

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Table: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>mini</th>
            <th>chalice</th>
            <th>helium</th>
            <th>cockpit</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>pear</td>
      <td>abide</td>
      <td>lean</td>
      <td>mysteriously</td>
    </tr>
        <tr>
      <td>transcript</td>
      <td>die</td>
      <td>blank</td>
      <td>bashfully</td>
    </tr>
        <tr>
      <td>cymbal</td>
      <td>abjure</td>
      <td>buoyant</td>
      <td>tremendously</td>
    </tr>
        <tr>
      <td>savings</td>
      <td>archive</td>
      <td>worse</td>
      <td>sternly</td>
    </tr>
        <tr>
      <td>muscat</td>
      <td>trump</td>
      <td>limping</td>
      <td>kookily</td>
    </tr>
        <tr>
      <td>deathwatch</td>
      <td>outrage</td>
      <td>large</td>
      <td>gladly</td>
    </tr>
        <tr>
      <td>plane</td>
      <td>groom</td>
      <td>wiry</td>
      <td>tremendously</td>
    </tr>
        <tr>
      <td>stab</td>
      <td>shy</td>
      <td>forceful</td>
      <td>rigidly</td>
    </tr>
        <tr>
      <td>bandanna</td>
      <td>conform</td>
      <td>submissive</td>
      <td>especially</td>
    </tr>
        <tr>
      <td>reaction</td>
      <td>chain</td>
      <td>favorable</td>
      <td>vivaciously</td>
    </tr>
        <tr>
      <td>shoemaker</td>
      <td>establish</td>
      <td>silver</td>
      <td>unimpressively</td>
    </tr>
        <tr>
      <td>apron</td>
      <td>elope</td>
      <td>rewarding</td>
      <td>often</td>
    </tr>
        <tr>
      <td>working</td>
      <td>epitomise</td>
      <td>finished</td>
      <td>vaguely</td>
    </tr>
        <tr>
      <td>ballpark</td>
      <td>meow</td>
      <td>easy-going</td>
      <td>monthly</td>
    </tr>
        <tr>
      <td>cob</td>
      <td>thunder</td>
      <td>dim</td>
      <td>violently</td>
    </tr>
        <tr>
      <td>altar</td>
      <td>admonish</td>
      <td>early</td>
      <td>wonderfully</td>
    </tr>
        <tr>
      <td>hypochondria</td>
      <td>press</td>
      <td>calculating</td>
      <td>openly</td>
    </tr>
        <tr>
      <td>situation</td>
      <td>baulk</td>
      <td>interesting</td>
      <td>vaguely</td>
    </tr>
        <tr>
      <td>fallacy</td>
      <td>chant</td>
      <td>general</td>
      <td>coaxingly</td>
    </tr>
        <tr>
      <td>taste</td>
      <td>demobilize</td>
      <td>fitting</td>
      <td>sharply</td>
    </tr>
      </tbody>
</table>

  </div>

</body>
</html>

