

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Table: Separate</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <table class="border-separate">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>kielbasa</th>
            <th>listing</th>
            <th>bagel</th>
            <th>child</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>affect</td>
      <td>decorate</td>
      <td>pink</td>
      <td>vivaciously</td>
    </tr>
        <tr>
      <td>selection</td>
      <td>belong</td>
      <td>prize</td>
      <td>extremely</td>
    </tr>
        <tr>
      <td>hair</td>
      <td>reformat</td>
      <td>young</td>
      <td>adventurously</td>
    </tr>
        <tr>
      <td>nail</td>
      <td>sink</td>
      <td>gentle</td>
      <td>seldom</td>
    </tr>
        <tr>
      <td>reasoning</td>
      <td>emphasize</td>
      <td>secret</td>
      <td>shrilly</td>
    </tr>
        <tr>
      <td>rim</td>
      <td>glide</td>
      <td>dramatic</td>
      <td>obediently</td>
    </tr>
        <tr>
      <td>phrase</td>
      <td>confess</td>
      <td>honorable</td>
      <td>easily</td>
    </tr>
        <tr>
      <td>revenge</td>
      <td>prolong</td>
      <td>cluttered</td>
      <td>not</td>
    </tr>
        <tr>
      <td>lout</td>
      <td>garnish</td>
      <td>calculating</td>
      <td>seldom</td>
    </tr>
        <tr>
      <td>junket</td>
      <td>renew</td>
      <td>rotating</td>
      <td>positively</td>
    </tr>
        <tr>
      <td>percent</td>
      <td>tug</td>
      <td>jubilant</td>
      <td>seldom</td>
    </tr>
        <tr>
      <td>fantasy</td>
      <td>brush</td>
      <td>tasty</td>
      <td>only</td>
    </tr>
        <tr>
      <td>handlebar</td>
      <td>militarize</td>
      <td>advanced</td>
      <td>ferociously</td>
    </tr>
        <tr>
      <td>lumber</td>
      <td>secede</td>
      <td>dopey</td>
      <td>never</td>
    </tr>
        <tr>
      <td>journey</td>
      <td>authenticate</td>
      <td>innocent</td>
      <td>arrogantly</td>
    </tr>
        <tr>
      <td>freedom</td>
      <td>skyjack</td>
      <td>angry</td>
      <td>longingly</td>
    </tr>
        <tr>
      <td>turnover</td>
      <td>gasp</td>
      <td>fitting</td>
      <td>swiftly</td>
    </tr>
        <tr>
      <td>slip</td>
      <td>subvert</td>
      <td>slippery</td>
      <td>questioningly</td>
    </tr>
        <tr>
      <td>canopy</td>
      <td>democratise</td>
      <td>wretched</td>
      <td>uselessly</td>
    </tr>
        <tr>
      <td>desire</td>
      <td>scythe</td>
      <td>physical</td>
      <td>victoriously</td>
    </tr>
      </tbody>
</table>

  </div>

</body>
</html>

