

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Table: Default</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>maelstrom</th>
            <th>making</th>
            <th>infection</th>
            <th>platter</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>counselling</td>
      <td>trampoline</td>
      <td>best</td>
      <td>delightfully</td>
    </tr>
        <tr>
      <td>angina</td>
      <td>hurl</td>
      <td>advanced</td>
      <td>gracefully</td>
    </tr>
        <tr>
      <td>godmother</td>
      <td>satisfy</td>
      <td>scary</td>
      <td>helplessly</td>
    </tr>
        <tr>
      <td>cop</td>
      <td>enact</td>
      <td>soft</td>
      <td>often</td>
    </tr>
        <tr>
      <td>subject</td>
      <td>hit</td>
      <td>unlined</td>
      <td>cruelly</td>
    </tr>
        <tr>
      <td>ephyra</td>
      <td>quell</td>
      <td>crushing</td>
      <td>soon</td>
    </tr>
        <tr>
      <td>cub</td>
      <td>push</td>
      <td>elated</td>
      <td>safely</td>
    </tr>
        <tr>
      <td>shade</td>
      <td>foist</td>
      <td>dreary</td>
      <td>frankly</td>
    </tr>
        <tr>
      <td>fragrance</td>
      <td>bangs</td>
      <td>yellow</td>
      <td>hastily</td>
    </tr>
        <tr>
      <td>breeze</td>
      <td>vex</td>
      <td>obese</td>
      <td>longingly</td>
    </tr>
        <tr>
      <td>bijou</td>
      <td>conscientize</td>
      <td>neglected</td>
      <td>knowingly</td>
    </tr>
        <tr>
      <td>biology</td>
      <td>dangle</td>
      <td>quirky</td>
      <td>openly</td>
    </tr>
        <tr>
      <td>cyst</td>
      <td>defraud</td>
      <td>fixed</td>
      <td>coolly</td>
    </tr>
        <tr>
      <td>carrot</td>
      <td>mother</td>
      <td>able</td>
      <td>far</td>
    </tr>
        <tr>
      <td>middleman</td>
      <td>condemn</td>
      <td>detailed</td>
      <td>actually</td>
    </tr>
        <tr>
      <td>bin</td>
      <td>grate</td>
      <td>bland</td>
      <td>swiftly</td>
    </tr>
        <tr>
      <td>shot</td>
      <td>hock</td>
      <td>venerated</td>
      <td>silently</td>
    </tr>
        <tr>
      <td>drapes</td>
      <td>observe</td>
      <td>deserted</td>
      <td>terribly</td>
    </tr>
        <tr>
      <td>category</td>
      <td>lag</td>
      <td>livid</td>
      <td>very</td>
    </tr>
        <tr>
      <td>garb</td>
      <td>shirk</td>
      <td>spry</td>
      <td>obediently</td>
    </tr>
      </tbody>
</table>

  </div>

</body>
</html>

