

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

<table class="border-collapse">
  <thead>
    <tr>
      <th>Zieme - Gutkowski</th>
      <th>Mayer - Cassin</th>
      <th>Stark - Hartmann</th>
      <th>Olson, Sanford and Lakin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>invoice transaction at Flatley - Kessler using card ending with ***(...1458) for NOK 170.55 in account ***32401711</td>
      <td>invoice transaction at Berge - Mueller using card ending with ***(...7693) for CUC 878.82 in account ***89397738</td>
      <td>withdrawal transaction at Ondricka Group using card ending with ***(...1694) for XPT 792.84 in account ***17450612</td>
      <td>invoice transaction at Barrows, Bergnaum and Cormier using card ending with ***(...5216) for VEF 659.99 in account ***33286675</td>
    </tr>
    <tr>
      <td>invoice transaction at Rolfson, Gibson and Corkery using card ending with ***(...3647) for ANG 38.40 in account ***21585015</td>
      <td>invoice transaction at Mraz and Sons using card ending with ***(...4839) for TMT 277.27 in account ***29489167</td>
      <td>invoice transaction at Lockman Inc using card ending with ***(...9912) for SEK 428.68 in account ***98427073</td>
      <td>withdrawal transaction at Bartoletti - Bartoletti using card ending with ***(...3690) for GYD 878.93 in account ***70472971</td>
    </tr>
    <tr>
      <td>payment transaction at Heller, Gleason and Murray using card ending with ***(...2203) for KHR 812.67 in account ***08473489</td>
      <td>deposit transaction at Crooks Group using card ending with ***(...1946) for DZD 69.99 in account ***07376578</td>
      <td>withdrawal transaction at Krajcik, Cartwright and Steuber using card ending with ***(...4146) for CVE 390.21 in account ***15765804</td>
      <td>payment transaction at Marks - Farrell using card ending with ***(...3983) for LAK 963.26 in account ***03816605</td>
    </tr>
    <tr>
      <td>deposit transaction at Heller, Leannon and Nienow using card ending with ***(...8506) for XAF 686.73 in account ***06259249</td>
      <td>withdrawal transaction at Walter - Reichert using card ending with ***(...6100) for MWK 38.40 in account ***22239266</td>
      <td>payment transaction at Greenholt - Parisian using card ending with ***(...6766) for ZAR 456.21 in account ***16850380</td>
      <td>withdrawal transaction at Johns - Schmeler using card ending with ***(...9124) for INR 853.23 in account ***16986650</td>
    </tr>
    <tr>
      <td>deposit transaction at Hodkiewicz - Blanda using card ending with ***(...5688) for XAU 556.56 in account ***27520584</td>
      <td>withdrawal transaction at Nikolaus, Zieme and Shields using card ending with ***(...0456) for DOP 515.46 in account ***32361278</td>
      <td>invoice transaction at Keebler - Hauck using card ending with ***(...3665) for IRR 973.62 in account ***14441840</td>
      <td>deposit transaction at Ankunding - Padberg using card ending with ***(...3760) for TJS 487.39 in account ***62993850</td>
    </tr>
    <tr>
      <td>deposit transaction at Friesen, Stracke and Christiansen using card ending with ***(...6932) for NOK 617.29 in account ***88808776</td>
      <td>deposit transaction at Jakubowski Inc using card ending with ***(...1186) for SLL 592.66 in account ***82850114</td>
      <td>deposit transaction at Hilpert - Schmitt using card ending with ***(...3758) for HTG 42.75 in account ***14328812</td>
      <td>invoice transaction at Gutkowski, Harvey and Hettinger using card ending with ***(...0854) for VEF 436.64 in account ***47779378</td>
    </tr>
    <tr>
      <td>payment transaction at Hayes, Heathcote and Barrows using card ending with ***(...7009) for HUF 656.64 in account ***87079611</td>
      <td>payment transaction at Hoppe - Littel using card ending with ***(...1494) for PEN 624.73 in account ***67587694</td>
      <td>deposit transaction at McKenzie Inc using card ending with ***(...9309) for WST 554.47 in account ***13830261</td>
      <td>deposit transaction at McLaughlin Group using card ending with ***(...0382) for MAD 693.05 in account ***26082646</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Willms Group using card ending with ***(...4487) for LAK 980.04 in account ***71042654</td>
      <td>invoice transaction at Muller, Rippin and Rath using card ending with ***(...7256) for MRO 772.29 in account ***17293697</td>
      <td>invoice transaction at Williamson, Mosciski and Considine using card ending with ***(...8127) for GNF 772.87 in account ***94957081</td>
      <td>payment transaction at Hessel, Moore and Spinka using card ending with ***(...1348) for PYG 379.45 in account ***78804704</td>
    </tr>
    <tr>
      <td>deposit transaction at Haley - Larkin using card ending with ***(...1039) for UGX 98.49 in account ***57835324</td>
      <td>withdrawal transaction at Conroy and Sons using card ending with ***(...9601) for BMD 990.38 in account ***89892185</td>
      <td>payment transaction at Hermann, Boyle and Haag using card ending with ***(...9896) for SBD 525.64 in account ***73046499</td>
      <td>withdrawal transaction at Dibbert Inc using card ending with ***(...2296) for AWG 234.10 in account ***06865997</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Heidenreich Group using card ending with ***(...7689) for MWK 942.24 in account ***84089497</td>
      <td>deposit transaction at Gottlieb and Sons using card ending with ***(...0742) for DOP 899.93 in account ***77102901</td>
      <td>payment transaction at Robel Inc using card ending with ***(...7647) for ILS 539.89 in account ***25197344</td>
      <td>invoice transaction at Kirlin LLC using card ending with ***(...7792) for LSL 792.41 in account ***80122659</td>
    </tr>
    <tr>
      <td>payment transaction at Klein, Schmidt and Abbott using card ending with ***(...8782) for IQD 788.81 in account ***00772006</td>
      <td>invoice transaction at Schneider, Roberts and Franey using card ending with ***(...7855) for TJS 141.22 in account ***50237714</td>
      <td>deposit transaction at Schamberger, Bartell and Konopelski using card ending with ***(...1622) for GNF 159.47 in account ***69581435</td>
      <td>payment transaction at Durgan and Sons using card ending with ***(...7678) for MUR 321.70 in account ***21134732</td>
    </tr>
    <tr>
      <td>deposit transaction at Hilpert, Cartwright and Spencer using card ending with ***(...3055) for GBP 60.98 in account ***15769597</td>
      <td>deposit transaction at Carter, Moore and Cruickshank using card ending with ***(...6640) for NZD 709.48 in account ***19388233</td>
      <td>withdrawal transaction at O&#x27;Kon, Romaguera and Gibson using card ending with ***(...7827) for BHD 351.91 in account ***75263192</td>
      <td>deposit transaction at Bradtke, Wilkinson and Quitzon using card ending with ***(...2670) for TTD 872.77 in account ***11483721</td>
    </tr>
    <tr>
      <td>payment transaction at Zulauf Group using card ending with ***(...1246) for LSL 353.93 in account ***79123152</td>
      <td>invoice transaction at Feeney - Koepp using card ending with ***(...9405) for LYD 325.79 in account ***20661823</td>
      <td>deposit transaction at Kling, Jones and Krajcik using card ending with ***(...7483) for UGX 574.59 in account ***98782618</td>
      <td>payment transaction at Koch, Buckridge and Balistreri using card ending with ***(...8538) for MRO 264.70 in account ***24884454</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Kuvalis, Bradtke and Cronin using card ending with ***(...0403) for BRL 729.66 in account ***89823853</td>
      <td>deposit transaction at Grady, Green and Kris using card ending with ***(...6299) for KPW 262.73 in account ***41469757</td>
      <td>deposit transaction at Runolfsson, Murphy and Hudson using card ending with ***(...8675) for BSD 111.68 in account ***81050365</td>
      <td>invoice transaction at Prosacco Group using card ending with ***(...4592) for MVR 570.01 in account ***58636463</td>
    </tr>
    <tr>
      <td>invoice transaction at Farrell - Kuphal using card ending with ***(...4458) for XTS 11.73 in account ***67119604</td>
      <td>invoice transaction at Bosco Inc using card ending with ***(...6099) for SEK 126.11 in account ***44848819</td>
      <td>payment transaction at Gutkowski, Nitzsche and Kutch using card ending with ***(...9197) for CHF 854.45 in account ***13503491</td>
      <td>payment transaction at Franey - Collins using card ending with ***(...5862) for AOA 230.89 in account ***04198140</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Schneider - Pagac using card ending with ***(...9001) for BYR 233.66 in account ***79401284</td>
      <td>deposit transaction at Goldner, Heaney and Marks using card ending with ***(...6464) for NZD 292.62 in account ***99362399</td>
      <td>invoice transaction at Trantow Inc using card ending with ***(...3951) for HRK 173.49 in account ***86807222</td>
      <td>invoice transaction at Bashirian - Feest using card ending with ***(...1322) for BAM 781.14 in account ***94034145</td>
    </tr>
    <tr>
      <td>deposit transaction at Beier - Gutkowski using card ending with ***(...0850) for PGK 736.82 in account ***22572538</td>
      <td>invoice transaction at Sporer Inc using card ending with ***(...2063) for GYD 860.72 in account ***46165227</td>
      <td>payment transaction at Gulgowski - Dooley using card ending with ***(...5643) for NAD 347.83 in account ***53214333</td>
      <td>invoice transaction at Johnston and Sons using card ending with ***(...7183) for UGX 287.52 in account ***05391505</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Lowe - Mraz using card ending with ***(...3492) for HNL 807.04 in account ***41493432</td>
      <td>invoice transaction at Fay Inc using card ending with ***(...2381) for ETB 505.25 in account ***94732522</td>
      <td>payment transaction at Ernser, Davis and Bogisich using card ending with ***(...1534) for PGK 15.58 in account ***02055682</td>
      <td>payment transaction at Wisozk LLC using card ending with ***(...1820) for UAH 767.94 in account ***51031973</td>
    </tr>
    <tr>
      <td>invoice transaction at Langosh and Sons using card ending with ***(...5809) for ETB 951.50 in account ***92611904</td>
      <td>withdrawal transaction at Harris, McKenzie and Sipes using card ending with ***(...9443) for CRC 510.89 in account ***72781855</td>
      <td>invoice transaction at Wolf - Smitham using card ending with ***(...5242) for ILS 464.62 in account ***09363244</td>
      <td>withdrawal transaction at Gulgowski Inc using card ending with ***(...8093) for TZS 103.45 in account ***28196698</td>
    </tr>
    <tr>
      <td>withdrawal transaction at Yost Inc using card ending with ***(...1313) for MZN 431.54 in account ***87572640</td>
      <td>payment transaction at Bailey, Cruickshank and Breitenberg using card ending with ***(...7621) for XAU 861.42 in account ***23568058</td>
      <td>invoice transaction at Hodkiewicz - Effertz using card ending with ***(...5589) for GBP 839.44 in account ***36703442</td>
      <td>payment transaction at Lowe Group using card ending with ***(...8612) for XBD 965.68 in account ***51458309</td>
    </tr>
  </tbody>
</table>

</div>


  </div>
</body>
</html>

