

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    Templates are page-level objects that place components into a layout and articulate the design’s underlying content structure.


<img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-templates.png" alt="Templates" />

<img src="https://atomicdesign.bradfrost.com/images/content/template.png" alt="Template Sample" />


  </div>
</body>
</html>

