

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Text Size: Classes</title>
</head>
<body>

  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <h1>Font Size Classes</h1>
<div class="text-xs">text-xs</div>
<div class="text-sm">text-sm</div>
<div class="text-base">text-base</div>
<div class="text-lg">text-lg</div>
<div class="text-xl">text-xl</div>
<div class="text-2xl">text-2xl</div>
<div class="text-3xl">text-3xl</div>
<div class="text-4xl">text-4xl</div>
<div class="text-5xl">text-5xl</div>
<div class="text-6xl">text-6xl</div>
<div class="text-7xl">text-7xl</div>
<div class="text-8xl">text-8xl</div>
<div class="text-9xl">text-9xl</div>

  </div>

</body>
</html>

