

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <title>Preview Layout</title>
</head>
<body>
  <div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">

    <h1>verpackungen.de</h1>

<div class="flex gap-8">
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #c31924;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Lava-Red</div>
      <div>lava-red-500</div>
      <div class="select-all font-mono">#c31924</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #f6ae2d;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-500</div>
      <div class="select-all font-mono">#f6ae2d</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #33658a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-500</div>
      <div class="select-all font-mono">#33658a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #86bbd8;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-500</div>
      <div class="select-all font-mono">#86bbd8</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #2f4858;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-500</div>
      <div class="select-all font-mono">#2f4858</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h2>Color Shades</h2>
  <p>Dies sind die Schattierungen der Primärfarben, die verwendet werden können.</p>
</div>


<div class="prose m-4">
  <h3>Honey-Yellow Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #fad389;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-100</div>
      <div class="select-all font-mono">#fad389</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f9cb76;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-200</div>
      <div class="select-all font-mono">#f9cb76</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f8c462;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-300</div>
      <div class="select-all font-mono">#f8c462</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f8bd4f;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-400</div>
      <div class="select-all font-mono">#f8bd4f</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f6ae2d;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-500</div>
      <div class="select-all font-mono">#f6ae2d</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f6ae28;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-600</div>
      <div class="select-all font-mono">#f6ae28</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #f5a614;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-700</div>
      <div class="select-all font-mono">#f5a614</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #eb9c0a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-800</div>
      <div class="select-all font-mono">#eb9c0a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #d78f09;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-900</div>
      <div class="select-all font-mono">#d78f09</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h3>Queen-Blue Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #5b96c2;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-100</div>
      <div class="select-all font-mono">#5b96c2</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #4c8cbd;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-200</div>
      <div class="select-all font-mono">#4c8cbd</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #4282b3;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-300</div>
      <div class="select-all font-mono">#4282b3</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #3d77a4;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-400</div>
      <div class="select-all font-mono">#3d77a4</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #33658a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-500</div>
      <div class="select-all font-mono">#33658a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #326186;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-600</div>
      <div class="select-all font-mono">#326186</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #2c5777;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-700</div>
      <div class="select-all font-mono">#2c5777</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #274c68;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-800</div>
      <div class="select-all font-mono">#274c68</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #214159;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-900</div>
      <div class="select-all font-mono">#214159</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h3>DarkSky-Blue Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #d1e5f0;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-100</div>
      <div class="select-all font-mono">#d1e5f0</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #c1dceb;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-200</div>
      <div class="select-all font-mono">#c1dceb</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #b2d4e6;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-300</div>
      <div class="select-all font-mono">#b2d4e6</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #a3cbe1;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-400</div>
      <div class="select-all font-mono">#a3cbe1</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #86bbd8;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-500</div>
      <div class="select-all font-mono">#86bbd8</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #84bad7;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-600</div>
      <div class="select-all font-mono">#84bad7</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #74b1d2;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-700</div>
      <div class="select-all font-mono">#74b1d2</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #65a9cd;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-800</div>
      <div class="select-all font-mono">#65a9cd</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #56a0c8;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-900</div>
      <div class="select-all font-mono">#56a0c8</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h3>Charcoal Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #4f7892;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-100</div>
      <div class="select-all font-mono">#4f7892</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #476d85;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-200</div>
      <div class="select-all font-mono">#476d85</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #406277;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-300</div>
      <div class="select-all font-mono">#406277</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #39576a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-400</div>
      <div class="select-all font-mono">#39576a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #2f4858;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-500</div>
      <div class="select-all font-mono">#2f4858</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #2b4150;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-600</div>
      <div class="select-all font-mono">#2b4150</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #243742;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-700</div>
      <div class="select-all font-mono">#243742</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #1d2c35;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-800</div>
      <div class="select-all font-mono">#1d2c35</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: #152128;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-900</div>
      <div class="select-all font-mono">#152128</div>
    </div>
  </div>
</div>


  </div>
</body>
</html>

