<h1>Zeilendurchschuss</h1>

<div class="flex gap-4">
  <div class="leading-normal">
    <h2>leading-normal</h2>
    {% for entry in entries %}
    <p>{{ entry.text }}</p>
    {% endfor %}
  </div>
  <div class="leading-relaxed">
    <h2>leading-normal</h2>
    {% for entry in entries %}
    <p>{{ entry.text }}</p>
    {% endfor %}
  </div>
  <div class="leading-loose">
    <h2>leading-normal</h2>
    {% for entry in entries %}
    <p>{{ entry.text }}</p>
    {% endfor %}
  </div>
</div>
