<h1>Zeilendurchschuss</h1>

<div class="flex gap-4">
  <div class="leading-normal">
    <h2>leading-normal</h2>
    {{#each entries}}
    <p>{{ text }}</p>
    {{/each}}
  </div>
  <div class="leading-relaxed">
    <h2>leading-normal</h2>
    {{#each entries}}
    <p>{{ text }}</p>
    {{/each}}
  </div>
  <div class="leading-loose">
    <h2>leading-normal</h2>
    {{#each entries}}
    <p>{{ text }}</p>
    {{/each}}
  </div>
</div>
