{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<nav role="navigation" aria-labelledby="system-breadcrumb" class="text-sm text-spanishgray font-normal">
  <div id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</div>
  <ol role="list" class="w-full flex py-1">
  {% for item in breadcrumb %}
    <li class="items-center">
      <div class="flex items-center">
        <div class="font-medium text-xl text-azure mr-2 items-center">
          <span>☉</span>
        </div>
        {% if item.url %}
          <a href="{{ item.url }}" class="hover:text-black mr-2"><span>{{ item.text }}</span></a>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
</nav>
{% endif %}
