

<h2>Darkskyblue</h2>
<p>Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #b2d4e6">
    <div>Name: Darkskyblue (light)</div>
    <div>Class: darkskyblue-light</div>
    <div>Hex: #b2d4e6</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: #86bbd8">
    <div>Name: Darkskyblue</div>
    <div>Class: darkskyblue</div>
    <div>Hex: #86bbd8</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: #74b1d2">
    <div>Name: Darkskyblue (dark)</div>
    <div>Class: darkskyblue-dark</div>
    <div>Hex: #74b1d2</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="darkskyblue-gradient p-2 mt-2 w-full h-48">
  'darkskyblue-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

