

<h2>Lava</h2>
<p>Logo-Farbe als Richtwert für alle anderen Farben, Schmuckfarben und Schattierungen.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #e32633">
    <div>Name: Lava (light)</div>
    <div>Class: lava-light</div>
    <div>Hex: #e32633</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>

  <div class="p-2 w-64 h-64 text-white text-xs font-mono font-bold" style="background-color: #c31924">
    <div>Name: Lava</div>
    <div>Class: lava</div>
    <div>Hex: #c31924</div>
    <div>RGB: 195, 25, 36</div>
    <div>CMYK: 0, 87, 82, 24</div>
  </div>

  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: #a2151f">
    <div>Name: Lava (dark)</div>
    <div>Class: lava-dark</div>
    <div>Hex: #a2151f</div>
    <div>RGB: 0, 0, 0</div>
    <div>CMYK: 0, 0, 0, 0</div>
  </div>
</div>

<div class="lava p-2 mt-2 w-full h-48">
  lava als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>

