


<div class="prose max-w-none">
  <div class="prose">
    <h1>Font Size</h1>
    <p><strong>Font</strong>: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif</p>
    <p><strong>Weights</strong>: 400(regular), 700(bold), 800(extrabold)</p>
  </div>
  <table class="table-auto border-collapse w-full overflow-hidden">
  <thead>
    <tr>
      <th>class</th>
      <th>rem</th>
      <th>px</th>
      <th>sample</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>text-xs</td>
      <td>0.75rem</td>
      <td>12px</td>
      <td class="text-xs">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-sm</td>
      <td>0.875rem</td>
      <td>14px</td>
      <td class="text-sm">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-base</td>
      <td>1rem</td>
      <td>16px</td>
      <td class="text-base">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-lg</td>
      <td>1.125rem</td>
      <td>18px</td>
      <td class="text-lg">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-xl</td>
      <td>1.25rem</td>
      <td>20px</td>
      <td class="text-xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-2xl</td>
      <td>1.5rem</td>
      <td>24px</td>
      <td class="text-2xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-3xl</td>
      <td>1.875rem</td>
      <td>30px</td>
      <td class="text-3xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-4xl</td>
      <td>2.25rem</td>
      <td>36px</td>
      <td class="text-4xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-5xl</td>
      <td>3rem</td>
      <td>48px</td>
      <td class="text-5xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-6xl</td>
      <td>3.75rem</td>
      <td>60px</td>
      <td class="text-6xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-7xl</td>
      <td>4.5rem</td>
      <td>72px</td>
      <td class="text-7xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-8xl</td>
      <td>6rem</td>
      <td>96px</td>
      <td class="text-8xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
      <td>text-9xl</td>
      <td>8rem</td>
      <td>128px</td>
      <td class="text-9xl">The quick brown fox jumps over the lazy dog</td>
    </tr>
  </tbody>
  </table>
</div>

