

<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
<p>H1 nur 1 x auf jeder gegebenen Seite!</p>
</div>

<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
<h1>default: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
</div>

<div class="mt-8 prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
<h1 class="text-stone-700">reinpapier.de / stone-700: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
<h1 class="text-lime-700">reinpapier.de / lime-700: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
<h1 class="text-stone-500">reinpapier.de / stone-500: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
</div>

