

<img src="/assets/logo/de-pack-logo.svg">
<div class="prose m-4">
  <h2>Primary Colors</h2>
  <p>Dies sind die Haupt-Farben.</p>
</div>
<div class="flex gap-8">
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #c31924;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Lava-Red</div>
      <div>lava-red-500</div>
      <div class="select-all font-mono">#c31924</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #f6ae2d;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Honey-Yellow</div>
      <div>honey-yellow-500</div>
      <div class="select-all font-mono">#f6ae2d</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #33658a;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Queen-Blue</div>
      <div>queen-blue-500</div>
      <div class="select-all font-mono">#33658a</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #86bbd8;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">DarkSky-Blue</div>
      <div>darksky-blue-500</div>
      <div class="select-all font-mono">#86bbd8</div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: #2f4858;">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">Charcoal</div>
      <div>charcoal-500</div>
      <div class="select-all font-mono">#2f4858</div>
    </div>
  </div>
</div>

<div class="prose m-4">
  <h2>Color Shades</h2>
  <p>Dies sind die Schattierungen der Primärfarben, die verwendet werden können.</p>
</div>


<div class="prose m-4">
  <h3>Honey-Yellow Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
</div>

<div class="prose m-4">
  <h3>Queen-Blue Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
</div>

<div class="prose m-4">
  <h3>DarkSky-Blue Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
</div>

<div class="prose m-4">
  <h3>Charcoal Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
</div>

