

<div class="prose leading-tight">
  <h1>Members</h1>

  <ul>
    <li>
      <img src="http://loremflickr.com/64/64/people?85207" class="rounded-full" width="64" height="64">
      <p>
        <strong>Archie DuBuque</strong>
        <br>Rudy.OKon@gmail.com
        <br>54762 Zoeystead
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?55228" class="rounded-full" width="64" height="64">
      <p>
        <strong>Pamela Daniel Jr.</strong>
        <br>Alek32@gmail.com
        <br>01976 Dooleyburgh
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?50332" class="rounded-full" width="64" height="64">
      <p>
        <strong>Nicole Hayes</strong>
        <br>Jaquelin.Kemmer13@gmail.com
        <br>21126 Jerdehaven
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?38346" class="rounded-full" width="64" height="64">
      <p>
        <strong>Audrey D&#x27;Amore</strong>
        <br>Regan52@hotmail.com
        <br>54803 South Krisworth
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?61581" class="rounded-full" width="64" height="64">
      <p>
        <strong>Devin Mosciski</strong>
        <br>Cindy_Hintz27@yahoo.com
        <br>91006 Hettieworth
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?46815" class="rounded-full" width="64" height="64">
      <p>
        <strong>Glenda Blanda</strong>
        <br>Cecelia.Pollich@hotmail.com
        <br>90764 Lake Maxcester
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?78262" class="rounded-full" width="64" height="64">
      <p>
        <strong>Michele Stark</strong>
        <br>Nakia_Kerluke@hotmail.com
        <br>44909 New Sigurd
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?69883" class="rounded-full" width="64" height="64">
      <p>
        <strong>Pat Gulgowski</strong>
        <br>Margret65@hotmail.com
        <br>94206 East Elizabethborough
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?27919" class="rounded-full" width="64" height="64">
      <p>
        <strong>Leroy Harris</strong>
        <br>Gaylord52@gmail.com
        <br>94645 Waltham
      </p>
    </li>
    <li>
      <img src="http://loremflickr.com/64/64/people?98938" class="rounded-full" width="64" height="64">
      <p>
        <strong>Theresa Baumbach</strong>
        <br>Christian2@gmail.com
        <br>51102 Omerfurt
      </p>
    </li>
  <ul>
</div>

