

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-8 sm:space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">The People</h2>
        <p class="text-xl text-gray-500">Risus velit condimentum vitae tincidunt tincidunt. Mauris ridiculus fusce amet urna nunc. Ut nisl ornare diam in.</p>
      </div>
      <ul role="list" class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">

        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?4808" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ralph Kub</h3>
                <p class="text-indigo-600">Investor Accountability Planner</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?73257" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Miss Armando Harber</h3>
                <p class="text-indigo-600">Corporate Identity Coordinator</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?26168" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Viola Schowalter</h3>
                <p class="text-indigo-600">Product Division Architect</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?60832" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Camille Kshlerin I</h3>
                <p class="text-indigo-600">Investor Group Technician</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?84229" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Barbara Wilderman</h3>
                <p class="text-indigo-600">Human Optimization Officer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?41806" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Muriel Block</h3>
                <p class="text-indigo-600">Corporate Security Analyst</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?36634" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Dianne Harris</h3>
                <p class="text-indigo-600">Dynamic Markets Technician</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?84504" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Cecilia Russel II</h3>
                <p class="text-indigo-600">District Web Engineer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?37236" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Elizabeth Pagac</h3>
                <p class="text-indigo-600">Dynamic Mobility Director</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?20266" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ben D&#x27;Amore PhD</h3>
                <p class="text-indigo-600">District Operations Agent</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?33342" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Joey Hamill</h3>
                <p class="text-indigo-600">Lead Factors Supervisor</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?68499" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Woodrow Bednar MD</h3>
                <p class="text-indigo-600">Legacy Optimization Assistant</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?34809" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Dr. Trevor Hyatt</h3>
                <p class="text-indigo-600">National Functionality Assistant</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?88851" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Joanne Altenwerth</h3>
                <p class="text-indigo-600">Chief Interactions Developer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?10128" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Donnie McLaughlin</h3>
                <p class="text-indigo-600">Regional Security Representative</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?46030" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Dana Grimes</h3>
                <p class="text-indigo-600">Investor Brand Designer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?43545" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Meredith Kuhn</h3>
                <p class="text-indigo-600">Human Markets Facilitator</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?96892" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Owen McKenzie</h3>
                <p class="text-indigo-600">Senior Factors Technician</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?78768" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Freddie Hoeger</h3>
                <p class="text-indigo-600">Principal Communications Coordinator</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?82578" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Lynette Feest</h3>
                <p class="text-indigo-600">Human Mobility Developer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?50089" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Whitney Haag</h3>
                <p class="text-indigo-600">International Research Officer</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?74029" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Christy Barrows</h3>
                <p class="text-indigo-600">Regional Response Consultant</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?86960" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Holly Little</h3>
                <p class="text-indigo-600">Principal Optimization Liaison</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="http://loremflickr.com/64/64/people?14203" alt="">
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>Ida Fritsch</h3>
                <p class="text-indigo-600">Human Security Coordinator</p>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

