

<table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>monasticism</th>
            <th>dock</th>
            <th>laparoscope</th>
            <th>message</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>flax</td>
      <td>intermarry</td>
      <td>authorized</td>
      <td>sleepily</td>
    </tr>
        <tr>
      <td>sportsman</td>
      <td>jail</td>
      <td>understated</td>
      <td>more</td>
    </tr>
        <tr>
      <td>alto</td>
      <td>liberate</td>
      <td>awesome</td>
      <td>successfully</td>
    </tr>
        <tr>
      <td>oxford</td>
      <td>shoo</td>
      <td>elastic</td>
      <td>often</td>
    </tr>
        <tr>
      <td>paperback</td>
      <td>overcompensate</td>
      <td>substantial</td>
      <td>powerfully</td>
    </tr>
        <tr>
      <td>engineer</td>
      <td>afford</td>
      <td>illegal</td>
      <td>freely</td>
    </tr>
        <tr>
      <td>chief</td>
      <td>use</td>
      <td>obedient</td>
      <td>upside-down</td>
    </tr>
        <tr>
      <td>crab</td>
      <td>arm</td>
      <td>acclaimed</td>
      <td>greatly</td>
    </tr>
        <tr>
      <td>management</td>
      <td>conflate</td>
      <td>roasted</td>
      <td>deliberately</td>
    </tr>
        <tr>
      <td>facsimile</td>
      <td>whinge</td>
      <td>our</td>
      <td>woefully</td>
    </tr>
        <tr>
      <td>ephemeris</td>
      <td>accompany</td>
      <td>handmade</td>
      <td>delightfully</td>
    </tr>
        <tr>
      <td>trait</td>
      <td>liquidise</td>
      <td>rural</td>
      <td>frantically</td>
    </tr>
        <tr>
      <td>anticodon</td>
      <td>descry</td>
      <td>vengeful</td>
      <td>daily</td>
    </tr>
        <tr>
      <td>prizefight</td>
      <td>outface</td>
      <td>disgusting</td>
      <td>suddenly</td>
    </tr>
        <tr>
      <td>anorak</td>
      <td>sit</td>
      <td>prudent</td>
      <td>angrily</td>
    </tr>
        <tr>
      <td>scorn</td>
      <td>slag</td>
      <td>that</td>
      <td>vacantly</td>
    </tr>
        <tr>
      <td>wallaby</td>
      <td>bridge</td>
      <td>negligible</td>
      <td>continually</td>
    </tr>
        <tr>
      <td>exile</td>
      <td>canvass</td>
      <td>aware</td>
      <td>solemnly</td>
    </tr>
        <tr>
      <td>soul</td>
      <td>lord</td>
      <td>these</td>
      <td>urgently</td>
    </tr>
        <tr>
      <td>chiffonier</td>
      <td>intertwine</td>
      <td>giant</td>
      <td>really</td>
    </tr>
      </tbody>
</table>

