

<table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>sample</th>
            <th>boyhood</th>
            <th>dollar</th>
            <th>thesis</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>legislation</td>
      <td>shoo</td>
      <td>strong</td>
      <td>nearly</td>
    </tr>
        <tr>
      <td>congressperson</td>
      <td>solemnise</td>
      <td>rural</td>
      <td>quizzically</td>
    </tr>
        <tr>
      <td>method</td>
      <td>outpace</td>
      <td>studious</td>
      <td>naturally</td>
    </tr>
        <tr>
      <td>comeback</td>
      <td>repose</td>
      <td>doting</td>
      <td>judgementally</td>
    </tr>
        <tr>
      <td>grill</td>
      <td>answer</td>
      <td>happy</td>
      <td>majestically</td>
    </tr>
        <tr>
      <td>beastie</td>
      <td>silt</td>
      <td>forked</td>
      <td>speedily</td>
    </tr>
        <tr>
      <td>industrialization</td>
      <td>lynch</td>
      <td>posh</td>
      <td>poorly</td>
    </tr>
        <tr>
      <td>lawmaker</td>
      <td>salve</td>
      <td>past</td>
      <td>vainly</td>
    </tr>
        <tr>
      <td>breeze</td>
      <td>tweet</td>
      <td>creepy</td>
      <td>crossly</td>
    </tr>
        <tr>
      <td>harbor</td>
      <td>transgress</td>
      <td>gentle</td>
      <td>successfully</td>
    </tr>
        <tr>
      <td>cosset</td>
      <td>wend</td>
      <td>partial</td>
      <td>never</td>
    </tr>
        <tr>
      <td>god</td>
      <td>sting</td>
      <td>pointed</td>
      <td>exactly</td>
    </tr>
        <tr>
      <td>bias</td>
      <td>canoodle</td>
      <td>homely</td>
      <td>yearly</td>
    </tr>
        <tr>
      <td>gong</td>
      <td>print</td>
      <td>cute</td>
      <td>unnecessarily</td>
    </tr>
        <tr>
      <td>steam</td>
      <td>dial</td>
      <td>urban</td>
      <td>too</td>
    </tr>
        <tr>
      <td>stop</td>
      <td>tongue</td>
      <td>known</td>
      <td>questionably</td>
    </tr>
        <tr>
      <td>cement</td>
      <td>appreciate</td>
      <td>forceful</td>
      <td>seemingly</td>
    </tr>
        <tr>
      <td>harmonica</td>
      <td>impair</td>
      <td>miserable</td>
      <td>scarily</td>
    </tr>
        <tr>
      <td>lapdog</td>
      <td>disgust</td>
      <td>slow</td>
      <td>anxiously</td>
    </tr>
        <tr>
      <td>career</td>
      <td>glue</td>
      <td>spotless</td>
      <td>warmly</td>
    </tr>
      </tbody>
</table>

