

<table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>consulting</th>
            <th>harbour</th>
            <th>detection</th>
            <th>pineapple</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>sunbonnet</td>
      <td>recover</td>
      <td>pleased</td>
      <td>curiously</td>
    </tr>
        <tr>
      <td>half-sister</td>
      <td>personalise</td>
      <td>wilted</td>
      <td>yieldingly</td>
    </tr>
        <tr>
      <td>nobody</td>
      <td>trace</td>
      <td>opulent</td>
      <td>nervously</td>
    </tr>
        <tr>
      <td>trip</td>
      <td>go</td>
      <td>sizzling</td>
      <td>innocently</td>
    </tr>
        <tr>
      <td>attack</td>
      <td>impress</td>
      <td>unwitting</td>
      <td>gracefully</td>
    </tr>
        <tr>
      <td>backdrop</td>
      <td>complete</td>
      <td>spirited</td>
      <td>actually</td>
    </tr>
        <tr>
      <td>heartache</td>
      <td>flood</td>
      <td>demanding</td>
      <td>yearly</td>
    </tr>
        <tr>
      <td>scallops</td>
      <td>nickname</td>
      <td>idolized</td>
      <td>wetly</td>
    </tr>
        <tr>
      <td>node</td>
      <td>flare</td>
      <td>joyous</td>
      <td>vastly</td>
    </tr>
        <tr>
      <td>pudding</td>
      <td>connive</td>
      <td>original</td>
      <td>often</td>
    </tr>
        <tr>
      <td>diesel</td>
      <td>diffract</td>
      <td>stylish</td>
      <td>broadly</td>
    </tr>
        <tr>
      <td>inbox</td>
      <td>merit</td>
      <td>grouchy</td>
      <td>busily</td>
    </tr>
        <tr>
      <td>top</td>
      <td>founder</td>
      <td>lavish</td>
      <td>inwardly</td>
    </tr>
        <tr>
      <td>arithmetic</td>
      <td>bewail</td>
      <td>unwieldy</td>
      <td>lightly</td>
    </tr>
        <tr>
      <td>party</td>
      <td>empower</td>
      <td>real</td>
      <td>wildly</td>
    </tr>
        <tr>
      <td>clarity</td>
      <td>snare</td>
      <td>incomparable</td>
      <td>suspiciously</td>
    </tr>
        <tr>
      <td>survival</td>
      <td>parboil</td>
      <td>dependent</td>
      <td>scarcely</td>
    </tr>
        <tr>
      <td>list</td>
      <td>invade</td>
      <td>spiffy</td>
      <td>knowingly</td>
    </tr>
        <tr>
      <td>beancurd</td>
      <td>relay</td>
      <td>tidy</td>
      <td>owlishly</td>
    </tr>
        <tr>
      <td>virginal</td>
      <td>notarize</td>
      <td>chilly</td>
      <td>cleverly</td>
    </tr>
      </tbody>
</table>

