

<table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
            <th>site</th>
            <th>cornerstone</th>
            <th>destroyer</th>
            <th>investigator</th>
          </tr>
  </thead>
  <tbody>
        <tr>
      <td>e-mail</td>
      <td>ensconce</td>
      <td>wee</td>
      <td>triumphantly</td>
    </tr>
        <tr>
      <td>mood</td>
      <td>award</td>
      <td>bossy</td>
      <td>fervently</td>
    </tr>
        <tr>
      <td>store</td>
      <td>slip</td>
      <td>muddy</td>
      <td>sweetly</td>
    </tr>
        <tr>
      <td>dynamo</td>
      <td>tell</td>
      <td>unselfish</td>
      <td>soon</td>
    </tr>
        <tr>
      <td>valley</td>
      <td>decay</td>
      <td>gross</td>
      <td>utterly</td>
    </tr>
        <tr>
      <td>command</td>
      <td>eliminate</td>
      <td>gargantuan</td>
      <td>intently</td>
    </tr>
        <tr>
      <td>moai</td>
      <td>piss</td>
      <td>mealy</td>
      <td>repeatedly</td>
    </tr>
        <tr>
      <td>fascia</td>
      <td>distrust</td>
      <td>kaleidoscopic</td>
      <td>safely</td>
    </tr>
        <tr>
      <td>covariate</td>
      <td>serialise</td>
      <td>glamorous</td>
      <td>bitterly</td>
    </tr>
        <tr>
      <td>ratepayer</td>
      <td>exhort</td>
      <td>thick</td>
      <td>hungrily</td>
    </tr>
        <tr>
      <td>minor-league</td>
      <td>disagree</td>
      <td>strident</td>
      <td>violently</td>
    </tr>
        <tr>
      <td>plowman</td>
      <td>arm</td>
      <td>willing</td>
      <td>separately</td>
    </tr>
        <tr>
      <td>senior</td>
      <td>cart</td>
      <td>rusty</td>
      <td>calmly</td>
    </tr>
        <tr>
      <td>boogeyman</td>
      <td>taper</td>
      <td>punctual</td>
      <td>blissfully</td>
    </tr>
        <tr>
      <td>citizen</td>
      <td>straighten</td>
      <td>disloyal</td>
      <td>victoriously</td>
    </tr>
        <tr>
      <td>correspondent</td>
      <td>slum</td>
      <td>idle</td>
      <td>knavishly</td>
    </tr>
        <tr>
      <td>prohibition</td>
      <td>box</td>
      <td>monthly</td>
      <td>gently</td>
    </tr>
        <tr>
      <td>dud</td>
      <td>cost</td>
      <td>athletic</td>
      <td>hastily</td>
    </tr>
        <tr>
      <td>carbohydrate</td>
      <td>redouble</td>
      <td>well-groomed</td>
      <td>restfully</td>
    </tr>
        <tr>
      <td>pickup</td>
      <td>carburize</td>
      <td>unhealthy</td>
      <td>valiantly</td>
    </tr>
      </tbody>
</table>

