

<table class="border-collapse">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
      <th>architecture</th>
      <th>monkey</th>
      <th>sir</th>
      <th>apartment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>observation</td>
      <td>swipe</td>
      <td>impressionable</td>
      <td>nervously</td>
    </tr>
    <tr>
      <td>store</td>
      <td>arrogate</td>
      <td>linear</td>
      <td>ultimately</td>
    </tr>
    <tr>
      <td>stump</td>
      <td>index</td>
      <td>dutiful</td>
      <td>upbeat</td>
    </tr>
    <tr>
      <td>chopsticks</td>
      <td>carpet</td>
      <td>scarce</td>
      <td>joyously</td>
    </tr>
    <tr>
      <td>codepage</td>
      <td>stables</td>
      <td>offbeat</td>
      <td>vaguely</td>
    </tr>
    <tr>
      <td>ophthalmologist</td>
      <td>outsell</td>
      <td>pale</td>
      <td>voluntarily</td>
    </tr>
    <tr>
      <td>function</td>
      <td>pit</td>
      <td>new</td>
      <td>yawningly</td>
    </tr>
    <tr>
      <td>nectarine</td>
      <td>detonate</td>
      <td>necessary</td>
      <td>vastly</td>
    </tr>
    <tr>
      <td>custody</td>
      <td>gainsay</td>
      <td>truthful</td>
      <td>rarely</td>
    </tr>
    <tr>
      <td>duplexer</td>
      <td>untie</td>
      <td>lasting</td>
      <td>judgementally</td>
    </tr>
    <tr>
      <td>calm</td>
      <td>bulge</td>
      <td>false</td>
      <td>sleepily</td>
    </tr>
    <tr>
      <td>vacuum</td>
      <td>anonymize</td>
      <td>jam-packed</td>
      <td>sweetly</td>
    </tr>
    <tr>
      <td>reserve</td>
      <td>smoodge</td>
      <td>strong</td>
      <td>reassuringly</td>
    </tr>
    <tr>
      <td>thermostat</td>
      <td>ponce</td>
      <td>anguished</td>
      <td>certainly</td>
    </tr>
    <tr>
      <td>anchovy</td>
      <td>plug</td>
      <td>exemplary</td>
      <td>upside-down</td>
    </tr>
    <tr>
      <td>zombie</td>
      <td>hump</td>
      <td>absolute</td>
      <td>continually</td>
    </tr>
    <tr>
      <td>connotation</td>
      <td>tile</td>
      <td>heavy</td>
      <td>mockingly</td>
    </tr>
    <tr>
      <td>debt</td>
      <td>titrate</td>
      <td>annual</td>
      <td>blindly</td>
    </tr>
    <tr>
      <td>locker</td>
      <td>quantify</td>
      <td>uneven</td>
      <td>gracefully</td>
    </tr>
    <tr>
      <td>researcher</td>
      <td>tolerate</td>
      <td>tiny</td>
      <td>thoroughly</td>
    </tr>
  </tbody>
</table>

