<div class="flex gap-4">
  <ul>
    <li>Basic HTML Elements</li>
    <li>Form Labels</li>
    <li>Inputs</li>
    <li>Buttons</li>
    <li>all that cannot broken down any further</li>
  </ul>

  <figure>
    <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-atoms.png" alt="Atoms" width="500" />
    <figcaption>bradfrost.com pic for Atoms</figcaption>
  </figure>
</div>
