<div class="flex gap-4">
  <p>Pages are specific instances of templates that show what a UI looks like with real representative content in place</p>

  <div>
    <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-pages.png" alt="Pages" width="500" />
    <img src="https://atomicdesign.bradfrost.com/images/content/page.png" alt="Page sample" width="500" />
  </div>
</div>
