<div class="card">
  <img class="card__image" src="https://source.unsplash.com/random/400x300/?mountain" alt="Mountain">
  <div class="card__body">
    <div class="card__title">Mountain</div>
    <div class="card__subtitle">No Mountain, no cry</div>
    <p class="card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
    <a class="btn androidgreen-gradient" href="#">Click here</a>
  </div>
</div>
