<div class="prose-all">
<h1>Cards</h1>
<h2>Vertical Card (default)</h2>
</div>
{% render '@card' %}

<div class="prose-all">
<h2>X-Cards (horizontal)</h2>
<h3>X-Left</h3>
</div>
{% render '@card--x-left' %}

<div class="prose-all">
<h3>X-Right</h3>
</div>
{% render '@card--x-right' %}
