<div class="grid grid-cols-1 justify-between md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
{% render '@card' %}
</div>
