<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        --skin-accent: 195, 25, 36;
        
        
        --skin-complement: 255, 255, 255;
        
        
        --skin-links: 195, 25, 36;
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/fuchsia.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.1" type="text/css">


<title>Listen: UL | DE-PACK Component Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>DE-PACK Component Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-d8a3f5fe16c5ade21a840f9613dde1c5">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/list--ul.html" title="Preview">
            Listen: UL
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29cc29; border-color: #29cc29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-d8a3f5fe16c5ade21a840f9613dde1c5">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/list--ul.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-view">
                View
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-context">
                Context
            </a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-info">
                Info
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-notes">
                Notes
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl&quot;</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Unordered Lists (ul)<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Wie heißt der Bürgermeister?: Sellerbeck, Rosselhuber<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Warum ist die Banane krumm?: Die Schwerkraft kann alles.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Part 1: Part 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Tiere?: Hund, Katze, Maus<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Farben?: Rot, grün, blau (RGB); Cyan, Magenta, Yellow, Black (CMYK)<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl&quot;</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Unordered Lists (ul)<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
    </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">each</span></span> entries}}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span></span><span class="hljs-template-variable">{{ <span class="hljs-name">one</span> }}</span><span class="xml">: </span><span class="hljs-template-variable">{{ <span class="hljs-name">two</span> }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">each</span></span>}}</span><span class="xml">
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-context">
    <code class="Code Code--lang-json hljs">
        
            
            <pre>{
  <span class="hljs-attr">&quot;entries&quot;</span>: [
    {
      <span class="hljs-attr">&quot;one&quot;</span>: <span class="hljs-string">&quot;Wie heißt der Bürgermeister?&quot;</span>,
      <span class="hljs-attr">&quot;two&quot;</span>: <span class="hljs-string">&quot;Sellerbeck, Rosselhuber&quot;</span>
    },
    {
      <span class="hljs-attr">&quot;one&quot;</span>: <span class="hljs-string">&quot;Warum ist die Banane krumm?&quot;</span>,
      <span class="hljs-attr">&quot;two&quot;</span>: <span class="hljs-string">&quot;Die Schwerkraft kann alles.&quot;</span>
    },
    {
      <span class="hljs-attr">&quot;one&quot;</span>: <span class="hljs-string">&quot;Part 1&quot;</span>,
      <span class="hljs-attr">&quot;two&quot;</span>: <span class="hljs-string">&quot;Part 2&quot;</span>
    },
    {
      <span class="hljs-attr">&quot;one&quot;</span>: <span class="hljs-string">&quot;Tiere?&quot;</span>,
      <span class="hljs-attr">&quot;two&quot;</span>: <span class="hljs-string">&quot;Hund, Katze, Maus&quot;</span>
    },
    {
      <span class="hljs-attr">&quot;one&quot;</span>: <span class="hljs-string">&quot;Farben?&quot;</span>,
      <span class="hljs-attr">&quot;two&quot;</span>: <span class="hljs-string">&quot;Rot, grün, blau (RGB); Cyan, Magenta, Yellow, Black (CMYK)&quot;</span>
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@list--ul</span>
        </li>
        
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="./list--ul.html">
                    <span>UL</span>
                </a>, 
            
                <a href="./list--ol.html">
                    <span>OL</span>
                </a>, 
            
                <a href="./list--dl.html">
                    <span>DL</span>
                </a>
            
            </span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/list--ul.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/list--ul.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">components/01-atoms/05-list/list.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-d8a3f5fe16c5ade21a840f9613dde1c5-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">No notes defined.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input" autocomplete="off">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-atoms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-atoms-items">
                    Atoms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-atoms-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./atoms-help.html"
                data-role="tree-link"
                
                data-pjax
                data-test="atoms-help"
                data-handle="atoms-help"
            >
                <span>Atoms Help</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-logo">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-logo-items">
                    Logo
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-logo-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./logo--logo.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logo--logo"
                data-handle="logo--logo"
            >
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./logo--depackcolors.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logo--depackcolors"
                data-handle="logo--depackcolors"
            >
                <span>Logo + DE-PACK Farben</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./logo--verpackungencolors.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logo--verpackungencolors"
                data-handle="logo--verpackungencolors"
            >
                <span>Logo + Verpackungen Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-colors">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-colors-items">
                    Colors
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-colors-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./de-pack.html"
                data-role="tree-link"
                
                data-pjax
                data-test="de-pack"
                data-handle="de-pack"
            >
                <span>DE-PACK.de</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./de-pack-world.html"
                data-role="tree-link"
                
                data-pjax
                data-test="de-pack-world"
                data-handle="de-pack-world"
            >
                <span>De Pack World</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./red.html"
                data-role="tree-link"
                
                data-pjax
                data-test="red"
                data-handle="red"
            >
                <span>red</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./reinpapier.html"
                data-role="tree-link"
                
                data-pjax
                data-test="reinpapier"
                data-handle="reinpapier"
            >
                <span>Reinpapier.de</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./verpackungen.html"
                data-role="tree-link"
                
                data-pjax
                data-test="verpackungen"
                data-handle="verpackungen"
            >
                <span>Verpackungen.de</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-typography">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-typography-items">
                    Typography
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-typography-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./fonts.html"
                data-role="tree-link"
                
                data-pjax
                data-test="fonts"
                data-handle="fonts"
            >
                <span>Fonts</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-paragraph">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-paragraph-items">
                    Paragraphs
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-paragraph-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./paragraph--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="paragraph--default"
                data-handle="paragraph--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./paragraph--normal.html"
                data-role="tree-link"
                
                data-pjax
                data-test="paragraph--normal"
                data-handle="paragraph--normal"
            >
                <span>Normal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./paragraph--relaxed.html"
                data-role="tree-link"
                
                data-pjax
                data-test="paragraph--relaxed"
                data-handle="paragraph--relaxed"
            >
                <span>Relaxed</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./paragraph--loose.html"
                data-role="tree-link"
                
                data-pjax
                data-test="paragraph--loose"
                data-handle="paragraph--loose"
            >
                <span>Loose</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-heading">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-heading-items">
                    Headings
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-heading-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h1.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h1"
                data-handle="heading--h1"
            >
                <span>H1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h2.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h2"
                data-handle="heading--h2"
            >
                <span>H2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h3.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h3"
                data-handle="heading--h3"
            >
                <span>H3</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h4.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h4"
                data-handle="heading--h4"
            >
                <span>H4</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h5.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h5"
                data-handle="heading--h5"
            >
                <span>H5</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./heading--h6.html"
                data-role="tree-link"
                
                data-pjax
                data-test="heading--h6"
                data-handle="heading--h6"
            >
                <span>H6</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./fontsize.html"
                data-role="tree-link"
                
                data-pjax
                data-test="fontsize"
                data-handle="fontsize"
            >
                <span>Font Size</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./fontweight.html"
                data-role="tree-link"
                
                data-pjax
                data-test="fontweight"
                data-handle="fontweight"
            >
                <span>Font Weight</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-list">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-list-items">
                    Listen
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-list-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a
                class="Tree-entityLink"
                href="./list--ul.html"
                data-role="tree-link"
                
                data-pjax
                data-test="list--ul"
                data-handle="list--ul"
            >
                <span>UL</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./list--ol.html"
                data-role="tree-link"
                
                data-pjax
                data-test="list--ol"
                data-handle="list--ol"
            >
                <span>OL</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./list--dl.html"
                data-role="tree-link"
                
                data-pjax
                data-test="list--dl"
                data-handle="list--dl"
            >
                <span>DL</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-table">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-table-items">
                    Table
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-table-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./table--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="table--default"
                data-handle="table--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./table--separate.html"
                data-role="tree-link"
                
                data-pjax
                data-test="table--separate"
                data-handle="table--separate"
            >
                <span>Separate</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-molecules">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-molecules-items">
                    Molecules
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-molecules-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./molecules-help.html"
                data-role="tree-link"
                
                data-pjax
                data-test="molecules-help"
                data-handle="molecules-help"
            >
                <span>Molecules Help</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./alert.html"
                data-role="tree-link"
                
                data-pjax
                data-test="alert"
                data-handle="alert"
            >
                <span>Alert</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./members.html"
                data-role="tree-link"
                
                data-pjax
                data-test="members"
                data-handle="members"
            >
                <span>Members</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./users.html"
                data-role="tree-link"
                
                data-pjax
                data-test="users"
                data-handle="users"
            >
                <span>Users</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-organisms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-organisms-items">
                    Organisms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-organisms-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./organisms-help.html"
                data-role="tree-link"
                
                data-pjax
                data-test="organisms-help"
                data-handle="organisms-help"
            >
                <span>Organisms Help</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./header1.html"
                data-role="tree-link"
                
                data-pjax
                data-test="header1"
                data-handle="header1"
            >
                <span>Header 1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./hero1.html"
                data-role="tree-link"
                
                data-pjax
                data-test="hero1"
                data-handle="hero1"
            >
                <span>Hero 1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./people.html"
                data-role="tree-link"
                
                data-pjax
                data-test="people"
                data-handle="people"
            >
                <span>People</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-templates-items">
                    Templates
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-templates-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./templates-help.html"
                data-role="tree-link"
                
                data-pjax
                data-test="templates-help"
                data-handle="templates-help"
            >
                <span>Templates Help</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-pages-items">
                    Pages
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-pages-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pages-help.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pages-help"
                data-handle="pages-help"
            >
                <span>Pages Help</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29cc29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../index.html"
                data-role="tree-link"
                
                data-pjax
                data-test="index"
                data-handle="index"
            >
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/methodik.html"
                data-role="tree-link"
                
                data-pjax
                data-test="methodik"
                data-handle="methodik"
            >
                <span>Methodik</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Version:</dt>
                    <dd class="Tree-asideDescription">
                        
                            1.0.0
                        
                    </dd>
                </div>
            
                <div>
                    <dt class="Tree-asideTerm">Built on:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2022-06-20T20:18:03.880Z">
                                6/20/2022
                            </time>
                        
                    </dd>
                </div>
            
                <div>
                    <dt class="Tree-asideTerm">Fractal Help:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <a href="https://fractal.build/guide/#requirements">Help</a>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
    </div>

    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.1"></script>



</body>
</html>
