<p>Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a class="btn btn-sm" href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat.</p>
