<label for="radio1">One</label>
<input class="form-radio" type="radio" id="radio1" name="myradiogroup" value="one">

<label for="radio2">Two</label>
<input class="form-radio" type="radio" id="radio2" name="myradiogroup" value="two">

<label for="radio3">Three</label>
<input class="form-radio" type="radio" id="radio3" name="myradiogroup" value="three">
