<select class="form-select" type="select" id="formselect">
  <optgroup label="Treffe Deine Wahl">
    {{#each options}}
    <option value="{{ value }}">{{ entry }}</option>
    {{/each}}
  </optgroup>
</select>
