<label for="checkbox1">One</label>
<input class="form-checkbox" type="checkbox" id="checkbox1" name="" value="one">

<label for="checkbox2">Two</label>
<input class="form-checkbox" type="checkbox" id="checkbox2" name="" value="two">

<label for="checkbox3">Three</label>
<input class="form-checkbox" type="checkbox" id="checkbox3" name="" value="three">
