<div class="mt-2 mb-2">
  <label for="textareainput">Freitext-Eingabe:</label>
  <textarea class="form-textarea block w-full" id="textareainput" rows="10" cols="50" placeholder="type some text ..."></textarea>
</div>
