<section name="hero" class="hidden md:block md:w-full md:py-4 md:bg-isabelline">
  <div class="region region-hero">
    <div class="text-white">{{ content }}</div>
    {{ image }}
  </div>
</section>
