<div class="flex gap-4">
  <p>Simple Groups of UI Elements functioning together as a unit.</p>
  <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-molecules.png" alt="Molecules" width="500" />
</div>
