
<div class="flex gap-4">
  <p>Templates are page-level objects that place components into a layout and articulate the design’s underlying content structure.</p>

  <div>
    <img src="https://atomicdesign.bradfrost.com/images/content/atomic-design-templates.png" alt="Templates" width="500" />
    <img src="https://atomicdesign.bradfrost.com/images/content/template.png" alt="Template Sample" width="500" />
  </div>
</div>
