@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**
 * main css file
 * loads this app's stylesheets
 */
@import "tailwindcss/base";
/*@import "css-base-loader.css";*/

@import "tailwindcss/components";
@import "./components--icons.css";
@import "./components--scrollbars.css";

@import "tailwindcss/utilities";
/*@import "./utilities--section-frames.css";*/

body {
  @apply selection:bg-lava selection:text-white;
}

/* utilities */
.prose-all {
	@apply prose sm:prose-sm md:prose lg:prose-lg xl:prose-xl 2xl:prose-2xl;
}
section {
  @apply relative;
}
section[name="hero"] {
  @apply h-[300px];
}
section[name="footer_2"] {
  @apply bg-[url('https://source.unsplash.com/random/1536x300/?packaging-design')] bg-cover bg-no-repeat grayscale;
}

.block-title {
  @apply border-b border-b-onyx;
}
.block-title span {
  @apply border-b-4 border-b-onyx;
}
.sticky-top {
  @apply sticky top-28 h-max;
}

/* links */

a {
  @apply text-lava-dark hover:text-lava-light
}
/* prose links (a) are defined in tailwind.config.js */

a[target="_blank"]::after {
  content: '';
  background: no-repeat var(--icon-link-external);
  padding-right: 1.65rem;
}
a.lnk-tel::before {
  content: '';
  background: no-repeat var(--icon-link-tel);
  padding-left: 1.65rem;
}
a.lnk-mail::before {
  content: '';
  background: no-repeat var(--icon-link-mail);
  padding-left: 1.65rem;
}
a.lnk-download::before {
  content: '';
  background: no-repeat var(--icon-link-download);
  padding-left: 1.65rem;
}



/* definition lists, dl-dt-dd */
dl {
  @apply sm:grid sm:grid-cols-2 border-t border-gray-200;
}
dt {
  @apply font-bold border-b py-4;
}
dd {
  @apply border-b py-4;
}

/* the button definitions */
button,
.btn {
  @apply inline-flex items-center px-6 py-3 border border-gray-300 shadow-sm text-base font-bold rounded-md bg-white hover:bg-ghostwhite focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lava no-underline;
}
.btn-sm {
  @apply px-3 py-2 text-sm;
}
.btn-xs {
  @apply px-2 py-1 text-xs;
}
ul li button {
  @apply px-3 py-2 text-sm;
}
.lava-gradient {
  @apply bg-gradient-to-b from-lava to-lava-dark text-white hover:bg-gradient-to-b hover:from-lava-light hover:to-lava focus:ring-lava-dark;
}
.honeyyellow-gradient {
  @apply bg-gradient-to-b from-honeyyellow to-honeyyellow-dark text-black hover:bg-gradient-to-b hover:from-honeyyellow-light hover:to-honeyyellow focus:ring-honeyyellow-dark;
}
.androidgreen-gradient {
  @apply bg-gradient-to-b from-androidgreen to-androidgreen-dark text-black hover:bg-gradient-to-b hover:from-androidgreen-light hover:to-androidgreen focus:ring-androidgreen-dark;
}
.onyx-gradient {
  @apply bg-gradient-to-b from-onyx to-onyx-dark text-white hover:bg-gradient-to-b hover:from-onyx-light hover:to-onyx focus:ring-onyx-dark;
}
.queenblue-gradient {
  @apply bg-gradient-to-b from-queenblue to-queenblue-dark text-white hover:bg-gradient-to-b hover:from-queenblue-light hover:to-queenblue focus:ring-queenblue-dark;
}
.darkskyblue-gradient {
  @apply bg-gradient-to-b from-darkskyblue to-darkskyblue-dark text-white hover:bg-gradient-to-b hover:from-darkskyblue-light hover:to-darkskyblue focus:ring-darkskyblue-dark;
}

/* links as buttons color corrections */
a.lava-gradient,
a.honeyyellow-gradient,
a.androidgreen-gradient,
a.onyx-gradient,
a.queenblue-gradient,
a.darkskyblue-gradient {
  @apply hover:text-white;
}

/* tabs + tab */
.tabs-tab {
  @apply w-full sm:w-fit border-none bg-transparent text-white hover:text-onyx rounded-none;
}


/* menu-icons (menu_link_attributes) */
.icon {
  @apply w-4 fill-transparent stroke-onyx hover:stroke-lava;
}


/* menu stuff */
.menu {
  @apply w-fit flex flex-col gap-2;
}
.menu--horizontal {
  @apply hidden md:flex flex-row gap-0 md:gap-1 lg:gap-2;
}
.menu__submenu {
  @apply bg-isabelline pl-4;
}

/* submenu aufklapp mechanik */
.menu--horizontal .menu__submenu {
  @apply hidden;
}
.menu--horizontal .menu__entry:hover .menu__submenu,
.menu--horizontal .menu__entry--parent:hover .menu__submenu {
  @apply block absolute top-10 z-50;
}
/* ende submenu aufklapp mechanik */

.menu__entry,
.menu__entry--parent {
  @apply flex flex-col gap-1 bg-ghostwhite px-2 py-2;
}
.menu--horizontal .menu__entry,
.menu--horizontal .menu__entry--parent {
  @apply flex flex-row gap-1 bg-isabelline px-2 py-2;
}
.menu__link {
  @apply text-onyx text-sm md:text-base font-bold truncate;
}
.menu__link--active-trail {
  @apply border-b-2 border-lava;
}

/* menu anpassungen fuer sektionen */
section[name="message"] .menu__entry {
  @apply bg-transparent px-0;
}
section[name="message"] .menu__link {
  @apply inline-flex items-center px-1 py-0.5 bg-onyx-light text-[10px] font-bold text-white no-underline hover:bg-onyx-dark hover:ring-2 hover:ring-offset-2 hover:ring-lava focus:ring-2 focus:ring-offset-2 focus:ring-lava;
}
section[name="message"] .icon {
  @apply fill-transparent stroke-white hover:stroke-lava;
}


section[name="header"] .menu--horizontal {
  @apply flex flex-row gap-0 md:gap-1 lg:gap-2;
}

section[name="header"] .menu__entry {
  @apply bg-transparent;
}
section[name="header"] .menu__link {
  @apply inline-flex items-center px-1 md:px-4 py-0 h-[45px] border border-gray-300 shadow-sm text-sm md:text-base font-bold text-black no-underline honeyyellow-gradient hover:ring-2 hover:ring-offset-2 hover:ring-honeyyellow focus:ring-2 focus:ring-offset-2 focus:ring-honeyyellow;
}
section[name="header"] .menu__link::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: no-repeat var(--icon-package);
  padding-left: 2rem;
  @apply hidden md:block;
}
section[name="header"] .menu__link--active-trail {
  @apply border-b-2 border-white;
}





/* weiterlesen grid block */
#block-swiftly-views-block-seite-bereiche-block-1-2 {
  @apply bg-isabelline p-4;
}

/* views-view-grid */
.views-view-grid {
  --grid-layout-gap: 2rem;
  --grid-column-count: 12;
  --grid-item--min-width: 400px;
}
.views-view-grid--columns {
  --grid-column-count: var(--grid-column-count);
}
.views-view-grid--horizontal {
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);
}

/* cards */
.card {
  @apply flex flex-col max-w-sm h-full bg-white border shadow-md;
  width: var(--grid-item--min-width);
}
/* horizontal cards */
.card__horizontal--right,
.card__horizontal--left {
  @apply flex flex-col md:flex-row bg-white text-onyx border max-w-screen-2xl mx-auto shadow-md my-20;
}

/* cards inner elements */
.card__body {
  @apply p-4;
}
.card__horizontal--right .card__body,
.card__horizontal--left .card__body {
  @apply p-4;
}
.card__horizontal--right .card__body {
  @apply order-first;
}
.card__horizontal--left .card__body {
  @apply order-last;
}

.card__horizontal--right .card__figure {
  @apply order-last;
}
.card__horizontal--left .card__figure {
  @apply order-first;
}

/* cards other inner elements */
.card__image,
.card img,
.card svg {
  @apply w-full m-0;
}
.card__horizontal--left .card__image,
.card__horizontal--left img,
.card__horizontal--left svg,
.card__horizontal--right .card__image,
.card__horizontal--right img,
.card__horizontal--right svg {
  @apply object-cover w-full h-full;
}

.card__title {
  @apply font-bold text-lg leading-tight text-ellipsis overflow-hidden mb-2;
}
.card__subtitle {
  @apply font-bold text-base leading-tight text-ellipsis overflow-hidden mb-2;
}
.card__text {
  @apply text-neutral-700 text-base leading-snug text-ellipsis overflow-hidden;
}

.card .btn,
.card__horizontal--left .btn,
.card__horizontal--right .btn {
  @apply mt-4;
}

/* cards effects */
.card:hover,
.card:focus,
.card:active,
.card__horizontal--left:hover,
.card__horizontal--left:focus,
.card__horizontal--left:active,
.card__horizontal--right:hover,
.card__horizontal--right:focus,
.card__horizontal--right:active {
  @apply shadow-xl;
}
