@layer components {

  :root {
    --scroll-handle-color: #c31924;
    --scroll-handle-hover: #a2151f;
  	--scroll-track-color: #efefea;
    --scroll-width: 1em;
  }
  ::-webkit-scrollbar {
    width: var(--scroll-width);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-handle-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-handle-hover);
  }



}
